<ul id="department-list">
    <% unless @assigned_subjects.empty? %>
       <% @assigned_subjects.each do |e| %>
         <% @subject = Subject.find(e.subject_id) %>
           <li class="list<%=cycle('even', 'odd')%>">
              <%= @subject.batch.full_name %>&nbsp;&nbsp;<%= @subject.name %>
              <div class="remove"><%= link_to_remote "#{t('delete_text')}", :url => {:action => "remove_employee_subject", :id => e.employee_id, :id1=>e.subject_id},:confirm => "#{t('delete_confirm_msg')}" %></div>        </li>
           </li>
       <% end %>
    <% end %>

</ul>