<tr class="even text-align-left">
  <%
  cmt = "&nbsp;"
  if !@student_exam_comment[@std_id_comment.to_s].blank?
    cmt_1 = @student_exam_comment[@std_id_comment.to_s]
    cmt_t = cmt_1.split('|')
    cmt = cmt_t[0]
  end  
  %>
  <td colspan="100"><%= cmt %></td>
</tr>
<tr style="border:none;">
    <td colpsan="100" style="border:none;">&nbsp;</td>
<tr>    