/* 
    Document   : tadded-header
    Created on : Apr 15, 2015, 2:27:36 PM
    Author     : N!K
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
.clearfix {
    clear: both;
}
.header-wrapper {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    box-shadow: 0 3px 5px 0 #aaa;
    -webkit-box-shadow: 0 3px 5px 0 #aaa;
    -moz-box-shadow: 0 3px 5px 0 #aaa;
    -ms-box-shadow: 0 3px 5px 0 #aaa;
    -o-box-shadow: 0 3px 5px 0 #aaa;
    float: left;
    height: auto;
    padding: 10px 0 0;
    margin: 20px 0;
    width: 100%;
}
.header-wrapper .header-title {
    float: left;
    width: 48%;
}
.header-wrapper  .header-form-wrapper
{
    float: right;
    width: 32%;
}
.header-wrapper  .header-form-wrapper .label-field-pair {
  height: 40px;
  padding-top: 3px;
  width: 315px;
}
.header-wrapper  .header-form-wrapper .label-field-pair label {
  color: #444444;
  display: block;
  float: left;
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  padding-top: 10px;
  width: 65px;
}
.header-wrapper .header-form-wrapper .label-field-pair input {
  background: none repeat scroll 0 0 #eeeeee;
  border: 1px solid #c6c6c6;
  height: 18px;
  margin: 5px 0 0 10px;
  padding: 2px;
  width: 167px;
}
.header-wrapper  .header-form-wrapper .text-input-bg select
{
    background-color: #eeeeee;
    border: 1px solid #c6c6c6;
    height: 24px;
    margin: 5px 0 0 10px;
    padding: 2px 10px;
    width: 175px;
}

.header-wrapper .header-title-filter-form {
    float: left;
    width: 48%;
}
.header-wrapper .header-icon {
    background: none;
    float: left;
    height: auto;
    margin-top: 0;
    padding: 15px 15px 10px 25px;
    width: 17%
}
.header-wrapper .header-icon img {
    width: 100%;
}
.header-wrapper .header-title-text-wrapper {
    float: left;
    width: 65%;
}
.header-wrapper .header-title-main-text {
    color: #232020;
    float: left;
    font-size: 30px;
    padding-top: 5px;
    text-transform: uppercase;
    width: 100%;
}
.header-wrapper .header-title-main-text a
{
    text-decoration: none;
    color: #000;
    float: left;
}
.header-wrapper .header-title-sub-text {
    color: #7e8283;
    letter-spacing: 1.25px;
}
.header-wrapper .tabbed-header-wrapper {
    background-color: #f0f2f3;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    float: left;
    width: 100%;
}
.header-wrapper .tabbed-header-wrapper ul.header-tabs {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.header-wrapper .tabbed-header-wrapper ul.header-tabs li {
    border-right: 1px solid #cccccc;
    color: #777C7E;
    cursor: pointer;
    float: left;
    position: relative;
}
.header-wrapper .tabbed-header-wrapper ul.header-tabs li a {
    color: #c2c5c6;
    font-size: 14px;
    letter-spacing: 0.75px;
    text-decoration: none;
    display: block;
    padding: 17px 25px;
}
.header-wrapper .tabbed-header-wrapper ul.header-tabs li:hover {
    background-color: #F8F9FA;
    box-shadow: 0 3px 0 0 #D72329;
    -webkit-box-shadow: 0 3px 0 0 #D72329;
    -moz-box-shadow: 0 3px 0 0 #D72329;
    -ms-box-shadow: 0 3px 0 0 #D72329;
    -o-box-shadow: 0 3px 0 0 #D72329;
}
.header-wrapper .tabbed-header-wrapper ul.header-tabs li:hover > a {
    color: #242021;
}
.header-wrapper .tabbed-header-wrapper ul.header-tabs li:hover > .submenu {
    opacity: 1;
    visibility: visible;
}
.header-wrapper .tabbed-header-wrapper ul.header-tabs li.active {
    background-color: #F8F9FA;
    box-shadow: 0 3px 0 0 #D72329;
    -webkit-box-shadow: 0 3px 0 0 #D72329;
    -moz-box-shadow: 0 3px 0 0 #D72329;
    -ms-box-shadow: 0 3px 0 0 #D72329;
    -o-box-shadow: 0 3px 0 0 #D72329;
}
.header-wrapper .tabbed-header-wrapper ul.header-tabs li.active > a {
    color: #242021;
}
.header-wrapper .tabbed-header-wrapper ul.header-tabs li:first-child {
    
}
.header-right-button {
  background-color: #cb232a;
  cursor: pointer;
  float: right;
  margin-right: 30px;
  margin-top: 28px;
  padding: 5px 20px;
  transition: all 0.25s ease-in 0s;
}
.header-right-button a {
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0.65px;
    text-decoration: none;
}
.header-right-button:hover {
    background-color: #7E0000;
}

.select_all {
  background: none repeat scroll 0 0 #ffffff;
  float: left;
  margin-bottom: 20px;
  padding: 15px 30px;
  width: 94%;
}

.button-filter {
  background-color: #eeeeee;
  border: 1px solid #b3b3b3;
  border-radius: 6px;
  color: #434343;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 13px;
  font-weight: normal;
  padding: 10px 17px;
  margin-right: 10px;
  text-decoration: none;
  transition: all 0.25s ease-in 0s;
}

.button-filter:hover, .button-filter:active {
  background-color: #cb1119;
  color: #ffffff;
  transition: all 0.25s linear 0s;
}

/******Sub Menu********/
.header-wrapper .tabbed-header-wrapper ul.header-tabs li ul.submenu {
    left: 0;
    list-style: outside none none;
    opacity: 0;
    position: absolute;
    transition: all 0.20s ease-in 0s;
    -moz-transition: all 0.20s ease-in 0s;
    -webkit-transition: all 0.20s ease-in 0s;
    -ms-transition: all 0.20s ease-in 0s;
    -o-transition: all 0.20s ease-in 0s;
    visibility: hidden;
}
.header-wrapper .tabbed-header-wrapper ul.header-tabs li ul.submenu li {
    background-color: #f8f9fa;
    border-bottom: 1px solid #ccc;
    left: -40px;
    overflow: hidden;
    width: 180px;
}
.header-wrapper .tabbed-header-wrapper ul.header-tabs li ul.submenu li {
    background-color: #f8f9fa;
    border-bottom: 1px solid #ccc;
    left: -40px;
    overflow: hidden;
    width: 180px;
}
.header-wrapper .tabbed-header-wrapper ul.header-tabs li ul.submenu li:hover {
    background-color: #FFFFFF;
    box-shadow: 3px 0 0 0 #348834;
    -webkit-box-shadow: 3px 0 0 0 #348834;
    -moz-box-shadow: 3px 0 0 0 #348834;
    -ms-box-shadow: 3px 0 0 0 #348834;
    -o-box-shadow: 3px 0 0 0 #348834;
    transition: all 0.20s ease-in 0s;
    -moz-transition: all 0.20s ease-in 0s;
    -webkit-transition: all 0.20s ease-in 0s;
    -ms-transition: all 0.20s ease-in 0s;
    -o-transition: all 0.20s ease-in 0s;
    margin-bottom: 3px;
}
.header-wrapper .tabbed-header-wrapper ul.header-tabs li ul.submenu li a {
    
}
/******Sub Menu********/