.header-bg{
 /*background: url("../images/bg.jpg") repeat scroll 0 0 #f9f9f9;*/
}
.ch-grid-header {
  display: block;
  list-style: none outside none;  
  padding: 0;
  text-align: right;
  width: auto;
  margin-top:3px;
  margin-right:0px;
}
.ch-grid-header li {
  display: inline-block;
  height: 30px;
  margin-left: 0px;
  width: 40px;

}
.ch-grid-header .ch-item-header{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	/*box-shadow: 0 1px 2px rgba(0,0,0,0.1);*/
	cursor: default;
}

.ch-grid-header  .ch-info-wrap-header, 
.ch-info-header{
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
        cursor:pointer;
}

.ch-grid-header .ch-info-wrap-header {
	top: 0px;
	left: 0px;
	/*background: #f9f9f9 url(../images/bg.jpg);*/
/*	box-shadow: 
		0 0 0 0px rgba(55,55,55,0.8), 
		inset 0 0 1px rgba(115,114, 23, 0.8);*/

}

.ch-grid-header  .ch-info-header > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
	
	-webkit-backface-visibility: hidden; /*Just for webkit to have a smooth font*/
}

.ch-grid-header  .ch-info-header .ch-info-front-header {
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.ch-grid-header  .ch-info-header .ch-info-back-header {
	opacity: 0;

	/*background: #FFF;*/
	pointer-events: none;
	
	-webkit-transform: scale(1.7);
	-moz-transform: scale(1.7);
	-o-transform: scale(1.7);
	-ms-transform: scale(1.7);
	transform: scale(1.7);
	
	-webkit-transition: all 0.4s ease-in-out 0.2s;
	-moz-transition: all 0.4s ease-in-out 0.2s;
	-o-transition: all 0.4s ease-in-out 0.2s;
	-ms-transition: all 0.4s ease-in-out 0.2s;
	transition: all 0.4s ease-in-out 0.2s;
}

.ch-grid-header .ch-img-1-header { 
	background: url("/merapi/images/icon/notification.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	cursor: pointer;
	float: left;
	height: 30px;
	position: relative;
	width: 30px;
}
.ch-grid-header .ch-img-1-header-hover { 	
	transform: scale(1);
	margin-top:4px;
	transition: opacity 1s ease 0s, top 3s ease 0s;
}
.ch-grid-header .good_read { 
	background: url("/merapi/images/icon/Good_read.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	cursor: pointer;
	float: left;
	height: 30px;
	margin: 3px 0px 0;
	position: relative;
	width: 30px;
}

.ch-grid-header .candle{ 
	background: url("/merapi/images/icon/Candle.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	cursor: pointer;
	float: left;
	height: 37px;	
	position: relative;
	width: 37px;
}
.ch-grid-header .ch-img-3-header-hover { 	
	transform: scale(1);
	margin-top:0px;
	transition: opacity 1s ease 0s, top 3s ease 0s;
}
.ch-grid-header .ch-info-header h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	margin: 0 15px;
	padding: 10px 0 0 0;
	height: 80px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}


.ch-grid-header .ch-item-header:hover .ch-info-front-header {
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	opacity: 0;
} 

.ch-grid-header .ch-item-header:hover .ch-info-back-header {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	
	opacity: 1;
	pointer-events: auto;
}













.ch-grid-header  .ch-item-header span{
	width: 100px;
	height: auto;
	line-height: 20px;
	padding: 10px;
	left: 50%;
	margin-left: -52px;
	font-family: 'Alegreya SC', Georgia, serif;
	font-weight: 400;	
	font-style: italic;
	font-size: 11px;
	color: #719DAB;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	text-align: center;
	border: 4px solid #fff;
	background: rgba(219,234,249,0.6);
	text-indent: 0px;
	border-radius: 5px;
	position: absolute;
	bottom: 55px;
	opacity: 0;
	visibility: visible;
	pointer-events: none;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
	-webkit-transform: translate(35px) rotate(25deg) scale(1.5);
	-moz-transform: translate(35px) rotate(25deg) scale(1.5);
	-o-transform: translate(35px) rotate(25deg) scale(1.5);
	-ms-transform: translate(35px) rotate(25deg) scale(1.5);
	transform: translate(35px) rotate(25deg) scale(1.5);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.ch-grid-header  .ch-item-header span:before,
.ch-grid-header  .ch-item-header span:after{
	content: '';
	position: absolute;
	bottom: -15px;
	left: 50%;
	margin-left: -9px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgba(0,0,0,0.1);
}
.ch-grid-header  .ch-item-header span:after{
	bottom: -14px;
	margin-left: -10px;
	border-top: 10px solid #fff;
}
.ch-grid-header  .ch-item-header:hover span{
	visibility: visible;
	opacity: 0.9;
	-webkit-transform: translate(0px) rotate(0deg) scale(1);
	-moz-transform: translate(0px) rotate(0deg) scale(1);
	-o-transform: translate(0px) rotate(0deg) scale(1);
	-ms-transform: translate(0px) rotate(0deg) scale(1);
	transform: translate(0px) rotate(0deg) scale(1);
}