
div.wpcf7 {
	margin: 0;
	padding: 0;
}

.ajax-hide
{
   display:none !important;
}

div.wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
}

div.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
	border: 0;
}

div.wpcf7-mail-sent-ok {
	border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng {
	border: 2px solid #ff0000;
}

div.wpcf7-spam-blocked {
	border: 2px solid #ffa500;
}

div.wpcf7-validation-errors {
	border: 2px solid #f7e700;
}

span.wpcf7-form-control-wrap {
	position: relative;
}

span.wpcf7-not-valid-tip {
	color: #f00;
	font-size: 1em;
	display: block;
}

.use-floating-validation-tip span.wpcf7-not-valid-tip { 
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	border: 1px solid #ff0000;
	background: #fff;
	padding: .2em .8em;
}

span.wpcf7-list-item {
	margin-left: 0.5em;
}

.wpcf7-display-none {
	display: none;
}

div.wpcf7 img.ajax-loader {
	border: none;
	vertical-align: middle;
	margin-left: 4px;
}

div.wpcf7 div.ajax-error {
	display: none;
}

div.wpcf7 .placeheld {
	color: #888;
}

div.featured{
    padding: 10px 5px; 
    background: #fff; 
    border: 1px solid #ccc; 
    border-bottom: 3px solid #ccc; 
    margin: 0px auto;
    width: 94%;
    position: relative;
}

div.featured-full{
    margin: 20px;
    width: 98%;
    height: auto;
}
div.featured-full #carrosel-news{
    margin: 0;
    width: 110%;
}

div#pager{
    position: absolute;
    bottom: 0;
    right: 10px;
}
div.featured ul{
    width: 100% !important;
    left: -20px !important;
}
li.carrosel_news{
    list-style: none;
    width: 100%;
    height: 290px;
}


li.carrosel-news-full-width{
    list-style: none;
    width: 100%;
    height: 290px;
}

li.carrosel_news div.carrosel-news{
    width: 103%;
}

.featured  .pagination{
    text-align: right;
    width: 100%;
}

.close-carrosel{
    background: url("/merapi/img/close.png");
    height: 32px;
    width: 32px;
    position: absolute;
    right: -13px;
    top: -13px;
    cursor: pointer;
}

li.carrosel_news div.carrosel-news div.carrosel-images{
    width: 42%;
    display: inline-block;
    vertical-align: top;
}

li.carrosel_news div.carrosel-news-full-width div.carrosel-images-full-width{
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

li.carrosel_news div.carrosel-news div.carrosel-news-content{
    width: 53%;
	margin-left:20px;
    display: inline-block;
    vertical-align: top;
}

li.carrosel_news div.carrosel-news div.carrosel-news-content div.post-title{
    margin: 0 20px 0;
    text-align: left;
}
.loading-box{
    width: 100%; 
    display: inline-table; 
    text-align: center; 
    height: 50px;
}

.loading-box .loading{
    background: url(/merapi/img/bx_loader.gif);
    height: 32px;
    width: 32px;
    margin: 0 auto;
}

li.menu-item 
{
    margin:5px 0px;
}
.play_btn_ch
{
    background: url("/merapi/img/play_btn.png") no-repeat scroll 0 0 transparent;
    margin: -225px 0px 0px 235px;
    height: 140px;
    width:105px;
    position: relative;
    z-index: 10;
    opacity:.8;
}
.brown-subtitle{
    color: #ccc;
    font-size:13px;
}

.tags {
    background: none repeat scroll 0 0 #dfdfdf;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    color: black;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    padding: 12px;
}
.title {
    color: #93989c;
    font-family: "Comic Sans MS",cursive,sans-serif;
    font-size: 32px;
    font-weight: lighter;
}
.button-selected {
    background: none repeat scroll 0 0 #000 !important;
    color: #ffffff !important;
}
.inner-news {
    height: 40px;
    text-align: right;
}
.sub-categories {
    color: #93989c;
    font-size: 16px;
    font-weight: lighter;
}
.sub-categories li {
    display: inline-block;
    list-style: none outside none;
}
.sub-categories li:after {
    color: #bbbbbb;
    content: "|";
    padding-left: 10px;
    padding-right: 10px;
}
.sub-categories li.selected {
    color: #900;
}
.sub-categories li:last-child:after {
    content: none;
    padding-left: 6px;
}

.extra_news_headline
{
    width: 93%;
    background: #FC3E30;
    padding: 10px;
    font-size: 30px;
    margin-left: 35px;
	text-align: center;
    font-weight: 400;
    color: #fff;
    border-style: groove;
    border: none;
    border-bottom: 4px solid #A11C13;
}
.video-title{
    font-size: 12px;
    font-weight: bold;
    color: #000;
}
.video-desc{
    font-size: 12px;
    color: #999;
}

.rounded{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

#backgroundPopup { 
	z-index:5000;
	position: fixed;
	display:none;
	height:100%;
	width:100%;
	background:#000000;	
	top:0px;
	left:0px;
}
#toPopup {
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 40px 20px;	
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: none;
    font-size: 14px;
    position: fixed;
    left: 230px;
    top: 100px;
    width: 900px;
    z-index: 6000;
}
div.loader {
    background: url("/merapi/img/bx_loader.gif") no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
	display: none;
	z-index: 9999;
	top: 40%;
	left: 50%;
	position: absolute;
	margin-left: -10px;
}
div.close {
    background: url("/merapi/img/close.png") no-repeat scroll 0 0 transparent;
    bottom: 30px;
    cursor: pointer;
    float: right;
    height: 30px;
    left: 10px;
    position: relative;
    width: 31px;
}
span.ecs_tooltip {
    background: none repeat scroll 0 0 #000000;
    /*border-radius: 2px 2px 2px 2px;*/
    color: #FFFFFF;
    display: none;
    font-size: 11px;
    height: 16px;
    opacity: 0.7;
    padding: 4px 3px 2px 5px;
    position: absolute;
    right: -62px;
    text-align: center;
    top: -51px;
    width: 93px;
}
span.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000000;
    display: block;
    height: 1px;
    left: 40px;
    position: relative;
    top: 3px;
    width: 1px;
}
div#popup_content {
    margin: 4px 7px;
}
#popup_content li{float:left;display:inline;padding:4px;font-family: "Aliquam Rg";font-size:13px;color:red;cursor:pointer;}
#popup_content .bar{color:#ccc;}
#popup_content li a:hover{font-size:22px;color:#000;text-decoration:underline;font-weight:bold;}
.btn_myschool {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ACD474), color-stop(1, #ACD474) );
    background:-moz-linear-gradient( center top, #ACD474 5%, #ACD474 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ACD474', endColorstr='#ACD474');
    background-color:#ACD474;
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-border-radius:2px;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    height: 35px;
    width:100px;
    text-decoration:none;
    text-align:center;
}

.white-pink {
    
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    
}
.white-pink h1 {
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #F5F5F5;
    margin: -10px -30px 10px -30px;
    color: #969696;
}
.white-pink h1>span {
    display: block;
    font-size: 11px;
    color: #C4C2C2;
}
.white-pink label {
    display: block;
    margin: 0px 0px 5px;
}
.white-pink label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #969696;
}
.white-pink input[type="text"], .white-pink input[type="email"], .white-pink textarea,.white-pink select{
    color: #555;
    width: 50%;
    padding: 3px 0px 3px 5px;
	font-size:12px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    height: 25px;
    line-height:15px;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
}
.white-pink textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 70%;
}
.white-pink .button {
    -moz-box-shadow:inset 0px 1px 0px 0px #fbafe3;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fbafe3;
    box-shadow:inset 0px 1px 0px 0px #fbafe3;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #F41F0F), color-stop(1, #EA1C26) );
    background:-moz-linear-gradient( center top, #F41F0F 5%, #EA1C26 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F41F0F', endColorstr='#EA1C26');
    background-color:#F41F0F;
    border-radius:2px;
    -webkit-border-radius:9px;
    -moz-border-border-radius:9px;
    border:1px solid #ee1eb5;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    height: 40px;
    width:100px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #c70067;
}
.white-pink select {
    background: url('down-arrow.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: url('down-arrow.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#E9E9E9));
   appearance:none;
    -webkit-appearance:none; 
   -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    line-height: 15px;
    height: 30px;
}





#candletoPopup {
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 40px 20px;	
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: none;
    font-size: 14px;
    position:absolute;
    margin: 0px 10%;
    top:60px;
    width: 80%;
    z-index: 9000;
}
#candlebackgroundPopup { 
	z-index:8000;
	position: fixed;
	display:none;
	height:100%;
	width:100%;
	background:#000000;	
	top:0px;
	left:0px;
}
#candletoPopup  div.loader {
    background: url("/merapi/img/bx_loader.gif") no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
	display: none;
	z-index: 9999;
	top: 40%;
	left: 50%;
	position: absolute;
	margin-left: -10px;
}
#candletoPopup  div.goto {
    background: url("/merapi/img/Candle-goto.png") no-repeat scroll 0 0 transparent;
   
    cursor: pointer;
    float: right;
    height: 80px;
    right: -12px;
    position: absolute;
    width: 106px;
}
#candletoPopup span.ecs_tooltip {
    background: none repeat scroll 0 0 #000000;
    /*border-radius: 2px 2px 2px 2px;*/
    color: #FFFFFF;
    display: none;
    font-size: 11px;
    height: 16px;
    opacity: 0.7;
    padding: 4px 3px 2px 5px;
    position: absolute;
    right: -62px;
    text-align: center;
    top: -51px;
    width: 93px;
}
#candletoPopup span.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000000;
    display: block;
    height: 1px;
    left: 40px;
    position: relative;
    top: 3px;
    width: 1px;
}
#candletoPopup div#popup_content {
    margin: 4px 7px;
}
#candletoPopup #popup_content li{float:left;display:inline;padding:4px;font-family: "Aliquam Rg";font-size:18px;color:red;cursor:pointer;}
#candletoPopup #popup_content .bar{color:#ccc;}
#candletoPopup #popup_content li a:hover{font-size:22px;color:#000;text-decoration:underline;font-weight:bold;}

.gk_layout_1{
    width: 110px;
    padding: 40px 30px; 
    margin: 4px;
    float: left; 
    cursor: pointer; 
    color: #fff;
}

.gk_layout_2{
    cursor: pointer;
    margin: 12px 20px;
    padding: 24px 10px;
    width: 210px;
    color: #fff;
}

.gk_layout_single_1{
    width: 45%;
    height: 100px;
    padding: 40px 0; 
    margin: 4px;
    float: left; 
    cursor: pointer; 
    color: #fff;
}

.gk_layout_single_2{
    cursor: pointer;
    margin: 12px 0;
    padding: 24px 10px;
    width: 100%;
    color: #fff;
}

.gk_layout_single_2:hover{
    opacity: 0.6;
}

.gk_layout_single_1:hover{
    opacity: 0.6;
}

.layout_4{
    text-align: center;
    cursor: pointer;
    padding: 4px 0;
    width: 100px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.layout_4 a{
    border: none;
}

 a.add-link {
  color: #900;
  text-decoration: none;
  display:block;
}

a.add-link:hover {
  color: red;
  position: relative;
}

a.add-link[title]:hover:after {
    border-top: 1px solid #cccccc;
/*    bottom: 2px;*/
    box-shadow: 0 0 4px #222;
    color: white;
    left: 0;
    padding: 4px 8px;
    position: absolute;
    text-align: center;
    width: 100%;
/*    content: attr(title);*/
    background:#000;
}

.button{
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 6px 20px;
    margin: 0;
    cursor: pointer;
    border: 1px solid #bbb;
    overflow: visible;
    font: bold 13px arial, helvetica, sans-serif;
    text-decoration: none;
    white-space: nowrap;
    color: #555;
    /*background-color: #ddd;*/
/*    background-image: linear-gradient(top, rgba(255,255,255,1),
        rgba(255,255,255,0)), url(data:image/png;base64,iVBORw0KGg[...]QmCC); */
    transition: background-color .2s ease-out;
    background-clip: padding-box; /* Fix bleeding */
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .3),
        0 2px 2px -1px rgba(0, 0, 0, .5),
        0 1px 0 rgba(255, 255, 255, .3) inset;
    /*text-shadow: 0 1px 0 rgba(255,255,255, .9);*/  
}

.button:hover{
    background-color: #aaa;
    color: #fff;
}

.button:active{
    background: #e9e9e9;
    position: relative;
    top: 1px;
    text-shadow: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
}

.button-group,
.button-group li{
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.button-group{
    margin: 0;
    padding: 0 7px;
    font-size: 0; /* Inline block elements gap - fix */
/*    background: rgba(0, 0, 0, .04);
    border-bottom: 1px solid rgba(0, 0, 0, .07);*/
    /*border-radius: 7px;*/ 
}

.button-group li{
    margin-right: -1px; /* Overlap each right button border */
}

.button-group .button{
    font-size: 13px; /* Set the font size, different from inherited 0 */
    border-radius: 0; 
}

.button-group .button:active{
    box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset,
        5px 0 5px -3px rgba(0, 0, 0, .2) inset,
        -5px 0 5px -3px rgba(0, 0, 0, .2) inset;   
}

.button-group li:first-child .button{
    border-radius: 3px 0 0 3px;
}

.button-group li:first-child .button:active{
    box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset,
        -5px 0 5px -3px rgba(0, 0, 0, .2) inset;
}

.button-group li:last-child .button{
    border-radius: 0 3px 3px 0;
}

.button-group li:last-child .button:active{
    box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset,
        5px 0 5px -3px rgba(0, 0, 0, .2) inset;
}

/**** Action Box ****/
.action-box-wrapper {
    border-right: 1px solid #dadedf !important;
    cursor: pointer;
    float: left;
    max-height: 52px;
    width: 33.3333%;
}
.action-box-wrapper:last-child {
    border: none !important;
}
.action-box {
    background-color: #F7F7F7;
    border-bottom:2px solid #d1d1d2;
    display: inline-block;
    width: 100%;
}
.action-box a {
    color: #666666;
}
.action-box .fb{
    width: 39%;
    display: none;
    vertical-align: top;
}
.action-box .seen-image {
    display: block;
    float: left;
    margin-left: 5px;
    width: 16% !important;
}
.action-box .seen-image img {
    float: left;
    padding: 10px 0;
    width: 18px;
}
.action-box .seen {
    padding: 10px 0 !important;
    width: 73% !important;
}
.action-box .seen span {
    display: block;
    font-size: 12px;
    margin-top: 7px;
    width: 100%;
}
.seen-image {
    color: #b1b8ba;
    float: left;
    font-size: 12px;
    margin-right: 5px;
    padding: 10px 0;
    width: 52%;
}
.seen {
    float: left;
    margin-left: 0;
    width: 43%;
}
.seen-image img {
    margin-left: 0 !important;
}
/**** Action Box ****/
@media all and (min-width: 768px) and (max-width: 1024px){
    .action-box-wrapper {
        float: left;
        width: 100%
    }
}