main_news_div h1{
    padding-bottom: 2px;
}
.main-news-overlay{
    display: none;
    position: absolute;
    margin-left: 189px;
    left:726px;
    margin-top: -13px;
    width: 248px;
    height: 150px;
    z-index: 9999;
    padding: 10px 25px 40px 25px;
    background: url('/styles/layouts/tdsfront/images/overly-box.png') no-repeat;
}


.main-news-overlay h1{
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.main-news-overlay img{
    margin-top: 10px;
    margin-left: 10px;
    width: 150px;
}

.main-news-overlay p{
/*    font-family: 'verdana','Times New Roman', 'Tahoma', 'Arial';
    font-size: 11px;*/
    margin-top: 5px;
    margin-right: 5px;
/*    line-height: 12px;*/
}
  .main_news_div
{

   cursor: pointer;
   background-color: #F0F0F0;
}
.main_news_div:last-child
{
    border-bottom: none;
}


/**
* Carrosel News
*/
.carrosel_news{
    width: 440px; 
    height: 513px;
}
a.prev, a.next {
	background: url(../../images/miscellaneous_sprite.png) no-repeat transparent;
	width: 45px;
	height: 50px;
	display: block;
	position: absolute;
	top: 85px;
}
a.prev {			left: -22px;
					background-position: 0 0; }
a.prev:hover {		background-position: 0 -50px; }
a.prev.disabled {	background-position: 0 -100px !important;  }
a.next {			right: -22px;
					background-position: -50px 0; }
a.next:hover {		background-position: -50px -50px; }
a.next.disabled {	background-position: -50px -100px !important;  }
a.prev.disabled, a.next.disabled {
	cursor: default;
}

a.prev span, a.next span {
	display: none;
}
.pagination {
	text-align: center;
}
.pagination a {
	background: url(../../images/radio-button.png) no-repeat transparent;
	width: 15px;
	height: 15px;
	margin: 0 5px 0 0;
	display: inline-block;
}

.pagination a:hover {
	background: url(../../images/radio-button-hover.png) no-repeat transparent;
	cursor: pointer;
}

.pagination a.selected {
	background: url(../../images/radio-button-seclected.png) no-repeat transparent;
	cursor: default;
}
.pagination a span {
	display: none;
}
.clearfix {
	float: none;
	clear: both;
}
.shoulder{
    line-height: 15px;
    font-size: 12px;
}
.main_news_div .headline{
    padding-bottom: 0;
}

.main_news_div .contents-news p{
    padding:5px 0px !important;
    font-size: 13px;
    line-height: 1.3em;
}
.contents-news p{
    padding:5px 0px !important;
    font-size: 14px;
    line-height: 1.5em;
}


.main_news_div .news p{
    padding:5px 0px;
    font-size: 13px;
    line-height: 1.3em;
}
.news p{
    padding:5px 0px;
    font-size: 14px;
    line-height: 1.5em;
}