.label-field-pair label{
    color: black;
}

.label-field-pair-gateway {
    border-bottom: 2px solid #999999;
    float: right;
    height: 50px;
    padding-top: 25px;
    width: 100%;
}

.label-field-pair-gateway label{
    font-weight: bold;
    max-width: 22%;
    min-width: 22%;
    float: right;
    font-size: 15px;
    font-family: Arial;
}

.label-field-pair-gateway div.value {
    float: right;
    max-width: 45%;
    min-width: 19%;
}

.value label {
    float: right;
    font-size: 13px;
    font-weight: normal;
    font-family: Arial;
    margin-right: 8px;
    margin-top: 2px;
    max-width: 136px;
    min-width: 158px;
}


.value input {
    float: right;
    max-width: 10px;
    min-width: 10px;
}

.value img {
    float: right;
    margin-right: 5px;
    margin-left: 60px;
    margin-top: -5px;
}

.submit-button {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    margin: 18px 316px 0;
    padding: 7px;
}
