<table border="1" style="width:700px; text-align: center;">
    <tr>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th>
            Total SMS
        </th>
    </tr>
    <tr>
        <td>
          <strong><%= @start_date %></strong>
        </td>
        <td>
            <strong><%= @end_date %></strong>
        </td>
        <td>
          <strong><%= @total_sms %></strong>
        </td>
    </tr>
</table>