.link-box {
  background: none repeat scroll 0 0 #B0B8BA;
  float: left;
  height: 80px;
  margin: 10px;
  padding: 20px;
  width: 270px;
}
.link-box:hover
{
    background: none repeat scroll 0 0 #606060;
}
.link-heading a {
    font-weight:bold;
    color:#fff;
}
.link-descr {
    margin-top:5px;
    color:#fff;
    text-align:justify;
    font-size:12px;
}

.box{
    width: 750px;
    margin:0px auto;

}
.label-field-pair label {
    width:280px;
}

.text-input-bg {
    width:100px;
}
.label-field-pair label {
    color:#444444;
    display:block;
    float:left;
    font-size:14px;
    font-weight:600;
    margin:0 0 10px;
    padding-top:10px;
    width:150px;
}
.pagination {
    float: right;
    position: relative;
    margin: 0;
}
