.available_sections1{width: 700px;}
.custom-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.custom-table td, #custom th {
  border: 1px solid #ddd;
  padding: 8px;
}

.custom-table tr:nth-child(even){background-color: #f2f2f2;}

.custom-table tr:hover {background-color: #ddd;}

.custom-table th {
  padding: 7px 7px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}
.heading-section{width:700px; text-align: center;}
.box {
  width: 400px;
  height: 50px;
  border: 2px solid #000;
  margin: 0 auto 15px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.info {
  background-color: #ddd;
  border-color: #aaa; 
}
.page-break{height:50px;}