/* 
    Document   : post
    Created on : Sep 9, 2013, 4:36:07 PM
    Author     : ahuffas
    Description:
        Purpose of the stylesheet follows.
*/

.sports-inner-news {
    float: left;
    margin-top: 5px;
    width: 100%;
}
.sports-inner-news h1.title {
    background: none repeat scroll 0 0 #94d5cd;
    color: #FFFFFF;
    font-size: 23px;
    font-weight: normal;
    height: 42px;
    line-height: 42px;
    text-indent: 20px;
}

.sports-inner-news h1.country, h1.sports {
    background: none repeat scroll 0 0 #5DAF49;
    color: #FFFFFF;
    font-size: 23px;
    font-weight: normal;
    height: 42px;
    line-height: 42px;
    text-indent: 20px;
}
.sports-inner-news h1.business {
    background: none repeat scroll 0 0 #08AEEC;
    color: #FFFFFF;
    font-size: 23px;
    font-weight: normal;
    height: 42px;
    line-height: 42px;
    text-indent: 20px;
}
.sports-inner-container {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCACA;
    margin-top: 10px;
    padding: 14px 10px;
    width: 97%;
}
.post a{
    margin-right: 10px;
    margin-bottom: 10px;
}

.post
{ 
    font-size: 12px;
}

.post ul:not(.related_news-list)
{
    margin-left: 40px;
}


.post p{
    padding: 10px;
    margin-bottom: 10px;
    line-height: 22px;
    font-size: 12px;
}
.post em{
    padding-left: 10px;
}
.post br{
    margin-bottom: 10px;
}
.bbottom {
    border-bottom: 3px solid #003773;
    padding-bottom: 5px;
}
.sports-related-news .sports-related-news-list li {
    background: none repeat scroll 0 0 #F4F4F4;
    color: #000000;
    list-style: none outside none;
    margin-bottom: 2px;
    width: 90%;
}
.sports-related-news .sports-related-news-list li a {
    background: none repeat scroll 0 0 #F4F4F4;
    color: #666;
    list-style: none outside none;
    margin-bottom: 2px;
    width: 90%;
}
.sports-related-news .sports-related-news-list li a:hover {
    background: none repeat scroll 0 0 #F4F4F4;
    color: #000;
    list-style: none outside none;
    margin-bottom: 2px;
    width: 90%;
}
.sports-related-news-title {
    padding: 7px 20px;
    text-transform: uppercase;
    width: 150px !important;
}
.sports-related-news-list .sports-related-news-contain {
    font-size: 12px;
    padding: 10px 5px;
    text-indent: 0;
}

.related_news {
    background: #ffffff;
	margin:8px;
/*    margin: 100px auto;*/
    
}



.related_news h1 {
    background: #717171;
    color: #ffffff;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    text-shadow:0px 2px #000000;
    text-indent: 15px;
    width: 100%;
}

.related_news .related_news-list li {
    background: #e9eaea;
    font-size: 12px;

    list-style: none;
    margin-bottom: 1px;
    padding: 5px;
}
.related_news .related_news-list li a{
    font-size: 12px;

    color: #666;
}
.related_news .related_news-list li a:hover{
    font-size: 12px;
    color: #000;
}


/**
* CSS For the Outbrain Plugin
*/
a.rec-link{
    font-size: 12px;
}
.AR_1 .ob_what {
    clear: both;
    direction: ltr;
    padding: 5px 10px 0;
    text-align: right;
    font-size: 10px;
}
.AR_1 .ob_what a {
    color: #999999;
    font-family: arial;
    font-size: 5px;
    text-decoration: none;
}
.AR_1 .ob_clear {
    clear: both;
}
.AR_1 .ob_amelia {
    -moz-box-sizing: content-box;
    background: url("http://widgets.outbrain.com/images/widgetIcons/ob_logo_16x16.png") no-repeat scroll center top transparent;
    display: inline-block;
    height: 16px;
    margin-bottom: -2px;
    padding: 0 5px;
    vertical-align: text-bottom;
    width: 16px;
}
.AR_1:hover .ob_amelia {
    background-position: center bottom;
}
.AR_1 .ob_dual_container {
    clear: both;
}
.AR_1 .ob_dual_left, .AR_1 .ob_dual_right {
    float: left;
    padding: 0 2%;
    width: 46%;
}
.AR_1 .ob_empty {
    display: none;
}

