.button-box{
    position: relative;
    overflow: hidden;
    float:left;
    width: 290px;
    margin-left: 26px;
    height:100px;
}

.button-box.left-button{
    margin-left: 0 !important;
}

.button-label p {
 text-align: center;
 margin-left: -1px;
 text-decoration: none;
 width: 173px;
}

.button-box a {

 text-decoration: none;
}
#user_options {
    padding:0px;
    margin-top:25px;
    min-height: 400px;
    overflow-y: auto;
}
#user_options .option_buttons {
    display:block;
    float:left;
    height:175px;width:175px;
    margin-top:20px;
    outline:none;
    text-align: center;
}
.label-underline{
    background:  #999;
    height: 1px;
    border: none;
    margin-right:30px
}
.submit-area input{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:25px 0 0 0px;
    width:70px;
    padding:7px 10px;
    border:none;
    cursor:pointer;
}
.submit-area input:hover{
   background:  #373B3F;
}
#page-yield {
margin: 30px 0;
margin-left: 30px;
}
.category_select{
    margin-top: -15px;
}
