#subscription_box{
    height: 140px;
width: 510px;
margin: 0 auto;
border: 1px solid;
border-color: #cccccc;
background-color: #f1f1f1;
}
#top_logo {
    margin:30px auto;
    height:115px; width:155px;
}
#top_logo h1 {
    text-indent:-9999px;
}
#notice {
    padding:0;
    width:400px;
    float:right;
    margin-top:45px;
    margin-right:55px;
    padding:2px;
    text-align:center;
    font-size:13px;
    color: #333333;
}
#confirm_logo {
    margin:30px auto;

    height:130px; width:155px;
/*     background:#fff url(../../images/application/dummy_logo.png?1371538898) no-repeat;*/

}

#confirm_logo h1 {
    text-indent:-9999px;
}
#confirm_button {
    margin-left: 10px;
    
    width:25px;
-moz-border-radius: 10px;
-webkit-border-radius: 5px;
background: #CD0000 none repeat scroll 0 0;
color: #FFFFFF !important;
font-family: arial;
font-size: 14px;
font-weight: bold;
margin: 10px;
margin-top: 19px;
padding: 3px 8px;
border: none;
text-align: center;
width: auto;
cursor: pointer;
float: left;
margin-right: 20px;
text-decoration: none;
display: block;
}
#confirm_button:hover {
background: #CD0000;
text-decoration: none !important;
}
#confirm-title{
    font-weight: bold;
    color: #CD0000;
        margin-left: 10px;
font-size: 15px;
margin-top: 16px;
}
#confirm-notice{
    
    font-size: 13px;
margin-left: 10px;
margin-top: 20px;
    color: #555;
}
