<table id="pdf-table" class="left-table" width="30%" cellspacing="0">
    <tr class="even">
        <td width="50%">Grade</td>
        <td width="50%">Meaning</td>
    </tr>
    <tr class="even">
        <td width="50%">A*</td>
        <td width="50%">Excellent</td>
    </tr>
    <tr class="even">
        <td width="50%">A</td>
        <td width="50%">Good</td>
    </tr>
    <tr class="even">
        <td width="50%">B+</td>
        <td width="50%">Satisfactory</td>
    </tr>
    <tr class="even">
        <td width="50%">B</td>
        <td width="50%">Needs Improvement</td>
    </tr>
</table>
<table id="pdf-table" class="left-table" width="30%" cellspacing="0">
    <tr class="even">
        <td width="50%">Regularity</td>
        <td width="50%"><br/></td>
    </tr>
    <tr class="even">
        <td width="50%">Patriotism</td>
        <td width="50%"><br/></td>
    </tr>
    <tr class="even">
        <td width="50%">Honesty</td>
        <td width="50%"><br/></td>
    </tr>
    <tr class="even">
        <td width="50%">Leadership</td>
        <td width="50%"><br/></td>
    </tr>
    <tr class="even">
        <td width="50%">Discipline</td>
        <td width="50%"><br/></td>
    </tr>
    <tr class="even">
        <td width="50%">Cooperation</td>
        <td width="50%"><br/></td>
    </tr>
</table>
<table id="pdf-table" class="left-table" width="30%" cellspacing="0">
    <tr class="even">
        <td width="50%">Participation</td>
        <td  width="50%"><br/></td>
    </tr>
    <tr class="even">
        <td width="50%">Tolerance</td>
        <td width="50%"><br/></td>
    </tr>
    <tr class="even">
        <td width="50%">Awareness</td>
        <td width="50%"><br/></td>
    </tr>
    <tr class="even">
        <td width="50%">Punctuality</td>
        <td width="50%"><br/></td>
    </tr>
    <tr class="even">
        <td width="50%">Handwriting</td>
        <td width="50%"><br/></td>
    </tr>
    <tr class="even">
        <td width="50%">Homework</td>
        <td width="50%"><br/></td>
    </tr>
</table>