<div id="pdf-header-south" class="sfx-header">
  <h4 align="center"><%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/280/logo.jpg")),:width=> '9%' %></h4>
  <h2 align="center">St. Joseph International School</h2>
  <h6 align="center">CONDUCT BY BROTHERS OF HOLY CROSS</h6>
</div>