<table id="pdf-table" class="evaluation table_99"  width="99.8%" >
     <tr class="even">
         <td class="col-pdf  border-left-none" width="33%">
             Class Teacher's Signature
         </td> 
         <td class="col-pdf  border-right-none" width="67%">
             <br/><br/>
         </td>
     </tr>
     <tr class="even">
         <td class="col-pdf  border-left-none" width="33%">
             Principal's Signature
         </td> 
         <td class="col-pdf  border-right-none" width="67%">
             <br/><br/>
         </td>
     </tr>
     <tr class="even">
         <td class="col-pdf  border-left-none" width="33%">
             Director's Signature
         </td> 
         <td class="col-pdf  border-right-none" width="67%">
             <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/342/director.jpg")),:width=> '15%' %>
         </td>
     </tr>
 
 </table>