#events_description{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#EEEEEE none repeat scroll 0 0;
    border:1px solid #C6C6C6;
    font-family:Arial;
    height:190px;
    padding:5px;
    width:520px;
}
#events_submit{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B;
    border:medium none;
    color:#FFFFFF;
    cursor:pointer;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:30px 0 0 210px;
    padding:7px 10px;
    width:auto;
}
form{
    width:600px;
    margin:auto;
}


.link-box {
    margin:10px 40px;
    width:270px;
    float:left;
    height:80px;
}
.link-heading a {
    font-weight:bold;
    color:#900;
}
.link-descr {
    margin-top:5px;
    color:#666;
    text-align:justify;
    font-size:14px;
}
#box{
    width:700px;
    margin:0px auto;
}
.box{
    width:750px;
    margin:0px auto;
}
table {
    padding:5px 5px 5px 10px;
    text-align:left;
    width:954px;
}
table#listing td.col-1 {
    padding:5px 5px 5px 10px;
    text-align:left;
    width:30%;
}
table#listing td.col-2 {
    padding:5px 5px 5px 10px;
    text-align:left;
    width:10%;
}
table#listing td.col-3 {
    padding:5px 5px 5px 10px;
    text-align:left;
    width:27%;
}
table#listing td.col-4 {
    padding:5px 5px 5px 10px;
    text-align:left;
    width:30%;
}
table#listing td.col-5 {
    padding:5px 5px 5px 10px;
    text-align:left;
    width:30%;
}
table#listing td.col-unique {
    padding:5px 5px 5px 10px;
    text-align:left;
    width:15%;
}
table#listing td a {
    color:#27292B;
    font-size:11px;
    text-decoration:none;
}


.submit_button {

    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}

span{
    float:right;
}
.bread_crumb {
    margin-left: 10px;
}

