
#innermiddlenewsblock 
{
   width: 100%;
   float:left;
   margin:0px;
    
}

#innermiddlenewsblock .inner-topics
{
    float:left; clear:both;
    margin-bottom:10px;
    
}


#innermiddlenewsblock .ym-grid
{
    position:relative;
    background-color:#F5F3F3;
    margin-top: 2px; 
    display:block; 
    float:left;
    overflow:hidden;
    
}
#innermiddlenewsblock .ym-grid img
{
    position:relative;
    
}
#innermiddlenewsblock .ym-grid
{
    cursor:pointer;
}
#innermiddlenewsblock .ym-grid .dotdot
{
   position: absolute;
   height:auto; 
   padding : 0px 35px 3px 5px;
   background-color:#F5F3F3;
   bottom:0px;
   right:0px;
   z-index:10;
}
#innermiddlenewsblock .ym-grid .dotdot a
{
    color: #05B2D2;
    font-size: 12px;
}
#innermiddlenewsblock .ym-grid div.caption a
{
  line-height: 1.5em; 
  font-size: 14px;
  text-align: justify;
}
#innermiddlenewsblock .ym-grid div.caption
{
   position: absolute;
   height:auto;
   width:100%;
   top:0px;
   display: none;
   background-color: #585858;
   color: #FFF;
   left:0;
   font-size: 11px;
   padding:10px 0px;
   cursor: pointer;
   
	/* The way to change overlay opacity is the follow properties. Opacity is a tricky issue due to
		longtime IE abuse of it, so opacity is not offically supported - use at your own risk. 
		To play it safe, disable overlay opacity in IE. */
    /* For Firefox/Opera/Safari/Chrome */
	opacity: .8;
    /* For IE 5-7 */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    /* For IE 8 */
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
#innermiddlenewsblock  .ym-grid .caption h2
{
    background: none repeat scroll 0 0 #585858;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: normal;
    padding: 7px 0;
    text-align: center;
    width: 100%;
}
#innermiddlenewsblock  .ym-grid  div
{
    padding:15px;
    line-height: 1em;
}
#innermiddlenewsblock  .ym-grid  div p.byline
{
   font-size:13px;
   margin:0px;
}

#innermiddlenewsblock  .ym-grid  div p
{
   float:left;
   margin-top:10px;
   
}

#innermiddlenewsblock   div.quotes
{
    float:left; 
    clear:both; 
    padding:0px;
}

#innermiddlenewsblock   div.quotes h1
{
   width:98%; 
   margin:2px auto;
}
#innermiddlenewsblock   div.quotes div.inner-topics
{
    margin:0; 
    border:none; 
    border-bottom:1px solid #CCCACA;
    display:block; 
    float:left;
}
#innermiddlenewsblock   div.inner-topics
{
    padding: 2px;
    width:98%;
   

}
#innermiddlenewsblock  div.quotes
{
    padding: 0px;
    width:100%;
   

}

#innermiddlenewsblock  div.quotes div.inner-topics
{
    padding: 0px;
    width:100%;
   

}

#innermiddlenewsblock   div.quotes div.quotes_content
{
   width:90%; 
   margin:20px auto; 
   padding:0px;
   
}

#innermiddlenewsblock   div.quotes div.quotes_content p
{
   text-align:center; 
   font-size:17px; 
   line-height:1.5em;
}
#innermiddlenewsblock   div.quotes div.quotes_content h2
{
   font-size:20px;
   line-height:1.5em; 
   text-align:center;
}





