body{
    width:350px;
    text-rendering: optimize-speed;    
}
.bnla{
}
#pdf-header{
    width:1250px;
    padding-top: 10px;
    margin: 0 auto;
    overflow: hidden;
}
.header_font p b
{
    font-size:20px;
}
.logo{
    
    width:120px;
    float: left;
}
.logonew img
{
    width: 100px;
    margin-top: 15px;
}
.academia_logo img
{
    width: 70px;
    margin-top: 15px;
}
.logo img{
    width: 100%;
    margin-top: 10px;
}

.header-content2{
    color: #000;
    font-weight: bold;
    font-size: 20px;
    float: left;
    width: 535px;
    height: 130px;        
    text-align: center;
    word-wrap:break-word;
    margin-left:30px;
}

.header-content2 p{
    margin-top: 3px;
    margin-bottom: 2px;
    margin-right: 10px;
    line-height: 15px !important;
    letter-spacing:normal !important;
}
.header-content2 p.institution_address{
    font-weight: normal !important;
    color: #000 !important;
    margin-top: 15px !important;
    line-height: 15px !important;
    font-size: 13px;
     
}
#pdf-footer{
    text-align: right;
    width: 1250px;
    padding-right: 100px;
    padding: 20px;
    margin: 0 auto;
    color: #999999;
    font-size: 14px;
}
#pdf-footer table td.lefttd
{
    width:70%;
    text-align: left;
}
#pdf-footer table td.lefttd2
{
    width:30%;
    text-align: left;
}
#pdf-footer table td
{
    text-align: center;
}


#page-yield {
    margin-top: 10px !important;
}

.page {
    page-break-after: auto;
    page-break-inside: avoid;
    overflow: hidden;

}
.section{
    margin-top:20px;
}
.row-break{
    /*       display: table-row; */
    /*       clear:both; */
    page-break-before:always;
}
.top-padding-20{
    padding-top:20px;
    background-color:#ccf;
}

#main_info{
    text-align: left !important;
}

/*St. Joseph SCHOOL COMBINE REPORT CARD STYLE*/
    #pdf-footer
    {
        color:#000;
    }
    .st_joseph table td
    {
        border: 1px solid #000;
        font-size:10px;
        padding:0px 2px;
    }
    .left_box
    {
        float:left;
    }
    .right_box
    {
        float:right;
    }
    .academia_border
    {
        border-bottom: 3px solid red;
    }