<table id="pdf-table" class="margin-top-20" width="100%" cellspacing="0">
    <tr class="even">
        <td width="10%"><b>Code No</b></td>
        <td width="90%"><center><b>Remarks</b></center></td>    
</tr>
<tr class="odd">
    <td width="10%"><center>1</center></td>
<td width="90%" class="remarks_code_table">
    <span><b>CONDUCT</b></span>
    <table width="100%">
        <tr>
            <td width="33%">a. Very Good</td>
            <td width="33%">b. Good</td>
            <td width="33%">c. Satisfactory</td>
        </tr>
    </table>    

</td>    
</tr>
<tr class="odd">
    <td width="10%"><center>2</center></td>
<td width="90%" class="remarks_code_table">
    <span><b>CLASS PERFORMANCE</b></span>
    <table width="100%" >
        <tr>
            <td width="33%">a. Very good</td>
            <td width="33%">b. Organized in class work</td>
            <td width="33%">c. Hard working</td>
        </tr>
        <tr>
            <td width="33%">d. Handwriting needs attention</td>
            <td width="33%">e. Lacks interest and concentration</td>
            <td width="33%">f. Distracts the class</td>
        </tr>
        <tr>
           
            <td width="33%">g. Often misses classes</td>
            <td width="64%" colspan="2">h. Class work is incomplete</td>
        </tr>
    </table>    

</td>    
</tr>
<tr class="odd">
    <td width="10%"><center>3</center></td>
<td width="90%" class="remarks_code_table">
    <span><b>LANGUAGE</b></span>
    <table width="100%">
        <tr>
            <td width="33%">a. Spelling needs attention</td>
            <td width="33%">b. Week in grammar</td>
            <td width="33%">c. Weak in expression<r</td>
        </tr>
        <tr>
            <td width="33%">d. Needs to read on widely</td>
            <td width="66%" colspan="2">e. Limited vocabulary</td>
        </tr>
    </table>    

</td>    
</tr>
<tr class="odd">
    <td width="10%"><center>4</center></td>
<td width="90%" class="remarks_code_table">
    <span><b>SCIENCE/MATHS/BUSINESS/HUMANITIES</b></span>
    <table width="100%" >
        <tr>
            <td width="50%">a. Capable but more effort required</td>
            <td width="50%">b. Diagrams should be labeled Properly </td>
        </tr>
        <tr>
            <td width="50%">c. Should read the questions carefully</td>
            <td width="50%">d. Answers should be to the point and precise</td>
        </tr>
        <tr>
            <td width="50%">e. Makes careless mistakes</td>
            <td width="50%">f. Basic math needs attention</td>
        </tr>
        <tr>
            <td width="50%">g. Home work not submitted on time</td>
            <td width="50%">h. Satisfactory</td>
        </tr>
        <tr>
            <td width="50%">i. Unsatisfactory</td>
            <td width="50%">j. Has shown great improvement</td>
        </tr>
    </table>    

</td>    
</tr>
<tr class="odd">
    <td width="10%"><center>5</center></td>
<td width="90%" class="remarks_code_table">
    <span class="no-warp"><b>CO-CURRICULAR ACTIVITIES</b></span>
    <table width="100%">
        <tr>
          <td width="33%">a. Sports</td>
          <td width="33%">b. Debate</td>
          <td width="33%">c. Science Fair</td>
        </tr>
    </table>    

</td>    
</tr>


</table>


<table id="pdf-table" class="margin-top-20" width="100%" cellspacing="0">
    <tr class="odd">
        <td>
         Grade
        </td>
        <td>
         Marks
        </td>
        <td>
         Grade
        </td>
        <td>
         Marks
        </td>
        <td>
         Grade
        </td>
        <td>
         Marks
        </td>
    </tr>
    <tr class="odd">
        <td>
         A - Distinction
        </td>
        <td>
         90 - 100
        </td>
        <td>
         C - Credit
        </td>
        <td>
         70 - 79
        </td>
        <td>
         U - Ungraded
        </td>
        <td>
         59 and Below
        </td>
    </tr>
    <tr class="odd">
        <td>
         B - Very Good
        </td>
        <td>
         80 - 89
        </td>
        <td>
         D - Pass
        </td>
        <td>
         60 - 69
        </td>
        <td colspan="2">
        </td>
    </tr>
   
</table>
