<%
if @batch.course.course_name == "KG I" or @batch.course.course_name == "KG II" or @batch.course.course_name == "Nursery" or @batch.course.course_name == "Playgroup"
  teacher_sign = @batch.course.course_name.downcase+" "+@batch.course.section_name.downcase+" "+@batch.name.downcase+".jpg"
else
  teacher_sign = @batch.course.course_name.downcase+" "+@batch.course.section_name.downcase+".jpg"
end  
  teacher_in_charge_sign = "Teacher In charge grade 5 to all.jpg"
if @batch.course.course_name == "KG I" or @batch.course.course_name == "KG II" or @batch.course.course_name == "Nursery" or @batch.course.course_name == "Playgroup" or @batch.course.course_name == "Grade 1" or @batch.course.course_name == "Grade 2" or @batch.course.course_name == "Grade 3" or @batch.course.course_name == "Grade 4"
  teacher_in_charge_sign = "Teacher In charge Pg to grade 4.jpg"
end 


%>

<% bottom_string = "<br/><br/><br/><br/>" %>
<% bottom_string2 = "" %>
<% unless params[:bottom].blank?  %>
  <% bottom = params[:bottom].to_i %>
  <%  
    $i = 0
    while $i < bottom  do
       bottom_string = bottom_string.to_s+"<br/>"
       bottom_string2 = bottom_string2.to_s+"<br/>"
       $i +=1
    end
  %>
<% end %>

<table id="pdf-table" class="evaluation table_99 top-left-center sign_table"  width="99.8%" >

        <tr class="even border-bottom-1-px">
            <td class="col-pdf " width="22%">
                
            </td>
            <td class="col-pdf no-border" width="4%"></td>
            <td class="col-pdf " width="22%">
                
            </td>
            <td class="col-pdf no-border" width="4%"></td>
            <td class="col-pdf " width="22%">
                
            </td>
            <td class="col-pdf no-border" width="4%">
            </td>
            <td class="col-pdf" width="22%">
                <%= bottom_string2 %>
                <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/312/signature.png")) %>
            </td>
        </tr>
        <tr class="even">
            <td class="col-pdf " width="22%">
                Class Teacher
            </td>
            <td class="col-pdf no-border" width="4%"></td>
            <td class="col-pdf no-warp" width="22%">
                Teacher In Charge
            </td>
            <td class="col-pdf no-border" width="4%"></td>
            <td class="col-pdf " width="22%">
                Principal
            </td>
            <td class="col-pdf no-border" width="4%">
            </td>
            <td class="col-pdf" width="22%">
                F. Principal
            </td>

        </tr>

</table>

<style>
    table.evaluation tr.border-bottom-1-px td.no-border
    {
      border-bottom: none !important;
    }
    
</style>    