<% bottom_string = "<br/><br/><br/><br/>" %>
<% bottom_string2 = "" %>
<% unless params[:bottom].blank?  %>
  <% bottom = params[:bottom].to_i %>
  <%  
    $i = 0
    while $i < bottom  do
       bottom_string = bottom_string.to_s+"<br/>"
       bottom_string2 = bottom_string2.to_s+"<br/>"
       $i +=1
    end
  %>
<% end %>

<table id="pdf-table" class="evaluation table_99 top-left-center sign_table"  width="99.8%" >

        <tr class="even border-bottom-1-px">
            <td class="col-pdf " width="25%">
                 <%= bottom_string %>
            </td> 
            <td class="col-pdf" width="25%">
                <%= bottom_string %>
            </td>
            <td class="col-pdf" width="25%">
                <%= bottom_string %>
            </td> 
            <td class="col-pdf " width="25%">
                <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/312/signature.png")) %>
            </td>
        </tr>
        <tr class="even">

            <td class="col-pdf" width="25%">
                Class Teacher
            </td>
            <td class="col-pdf " width="25%">
                Teacher In charge
            </td>
            <td class="col-pdf " width="25%">
                Principal
            </td>
            <td class="col-pdf" width="25%">
                F. Principal
            </td> 

        </tr>

</table>