.clearfix {
    clear: both;
}
.tabbed-header {
    margin-top: 35px;
    width: 100%;
}
.tabbed-header .title {
    color: #b0b8ba;
    float: left;
    font-size: 35px;
    font-weight: bold;
    padding: 25px 15px 0 0;
    text-align: left;
    width: 40%;
}
.title-wrapper {
    width: 30%;
}
.custom-header-icon {
    float: left;
    padding: 15px;
    width: 40%;
}
.custom-header-icon img {
    float: right;
    width: 50px;
}
.tabs-wrapper {
    float: left;
    padding: 25px 15px 0 0;
    width: 57%;
}
.tabs-wrapper span {
    color: #b0b8ba;
    cursor: pointer;
    float: left;
    padding: 15px 10px;
    text-align: center;
    width: 25%;
    position: relative;
}
.tabs-wrapper span:hover {
    background: #F41F0F;
    color: #ffffff;
}
.tabs-wrapper span:hover:after {
    top: 100%;
    left: 43.5%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(244, 31, 15, 0);
    border-top-color: #F41F0F;
    border-width: 15px;
}
.span-active {
    background: #F41F0F;
    color: #ffffff !important;
}
.span-active:after {
    top: 100%;
    left: 43.5%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(244, 31, 15, 0);
    border-top-color: #F41F0F;
    border-width: 15px;
}
.event-icon-wrapper {
    float: left;
    border-right: 1px solid #C1C1C1;
}
.event-list {
    width: 100%;
}
.event-list ul {
    list-style: none;
}
.event-list ul li {
    border: 1px solid #C1C1C1;
    margin-bottom: 10px;
}
.event-list ul li:first-child {
    margin-bottom: 20px;
}
.event_custom_icon {
    width: 120px;
    
}
