/* 
    Document   : event_details
    Created on : Feb 8, 2015, 4:46:49 PM
    Author     : N!K
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
.event-detail-box {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.event-detail-label {
    color: #db2329;
    float: left;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
    width: 25%;
}
.event-detail-description {
    color: #434343;
    float: right;
    font-size: 17px;
    width: 75%;
}
.extra {
    color: #434343;
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px;
}
.partial_homework
{
    clear: both;
}
.partial_homework h2 {
  color: #2dc99a;
  float: left;
  font-size: 38px;
  font-weight: normal;
  margin: 0;
}
.partial_homework .date_title
{
    height:25px;
    color: #2DC99A;
    text-align: right;
    clear: both;
    font-size: 11px;
    font-weight: bold;
}
.partial_homework .portlet-subcontent {
  background-color: #ffffff;
  float: left;
  width: 80%;
  border: 1px solid #ccc;
}
.partial_homework .timetable_left {
  border-right: 1px dotted #cccccc;
  float: left;
  height: 70px;
  padding: 10px 0;
  width: 12%;
}
.partial_homework .timetable_right
{
    float:right;
    width:78%;
}
.partial_homework .timetable_left img {
  height: 55px;
  margin-left: 22px;
  width: 70px;
  margin-top: 8px;
}
.partial_homework .subcontent-header {
  color: #000000;
  float: left;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0px;
  padding: 2px 12px;
  width: 93%;
}

.partial_homework .subcontent-info {
  color: #999999;
  float: left;
  font-size: 15px;
  margin-top: 0px;
  padding: 2px 12px;
  width: 93%;
}

.partial_homework .subcontent-date {
  color: #999;
  float: left;
  font-size: 14px;
  margin-top: 00px;
  padding: 2px 15px;
  width: 93%;
}

.answer_mark
{
    background: none repeat scroll 0 0 #F0F2F3;
    float: right;
    height: 70px;
    padding: 10px;
    width: 7%;
}
.timetable_right div a
{
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}
.timetable_right div a:hover
{
    color: #ED1C24;
}
.viewmore {
    background-color: #ed1c24;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    float: left;
    font-size: 12px;
    height: 13px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
 
}