<% unless @report_data.blank?  or  @report_data['report'].blank? %>
   
      <% unless @report_data['report']['subjects'].blank? %> 
        <% @report_data['report']['subjects'].each do |subjects| %>
          <%= render :partial=>"/connect_exam/sir_john_wilson_school/subject_report_kg1_to_kg2", :locals=>{:subjects=>subjects} %>
          <% unless subjects.equal? @report_data['report']['subjects'].last %>
            <div class="page-break"></div> 
          <% end %>
        <% end %>     
      <% end %> 
  
<% end %>


