<div class="col-md-4" style="border: 1px solid #ccc; padding-left: 0px;">
    <div class="col-md-10 bg-greensea" style="text-align: center; font-size: 18px;"><b>Number of Class</b></div>
    <div class="col-md-2" style="text-align: center; font-size: 18px;">{{attendance_statistics_emp.num_class}}</div>
</div>
<div class="col-md-4 border" style="border: 1px solid #ccc; padding-left: 0px; ">
    <div class="col-md-10 bg-greensea" style="text-align: center; font-size: 18px;"><b>Total Employee</b></div>
    <div class="col-md-2" style="text-align: center; font-size: 18px;">{{attendance_statistics_emp.total_employee}}</div>
</div>
<div class="col-md-4 border" style="border: 1px solid #ccc; padding-left: 0px; ">
    <div class="col-md-10 bg-greensea" style="text-align: center; font-size: 18px;"><b>Avg. Present</b></div>
    <div class="col-md-2" style="text-align: center; font-size: 18px;">{{attendance_statistics_emp.avg_attendace}}</div>
</div>