<div class="col-md-4" style="border: 1px solid #ccc; padding-left: 0px;">
    <div class="col-md-8 bg-greensea" style="text-align: center; font-size: 14px; height: 26px; padding-top: 2px;"><b>Number of Class</b></div>
    <div class="col-md-4" style="text-align: center; font-size: 14px; font-weight: bold; padding-top: 2px;">{{attendance_statistics.num_class}}</div>
</div>
<div class="col-md-4 border" style="border: 1px solid #ccc; padding-left: 0px; ">
    <div class="col-md-8 bg-greensea" style="text-align: center; font-size: 14px; height: 26px; padding-top: 2px;"><b>Total Students</b></div>
    <div class="col-md-4" style="text-align: center; font-size: 14px; font-weight: bold; padding-top: 2px;">{{attendance_statistics.total_students}}</div>
</div>
<div class="col-md-4 border" style="border: 1px solid #ccc; padding-left: 0px; ">
    <div class="col-md-8 bg-greensea" style="text-align: center; font-size: 14px; height: 26px; padding-top: 2px;"><b>Avg. Present</b></div>
    <div class="col-md-4" style="text-align: center; font-size: 14px; font-weight: bold; padding-top: 2px;">{{attendance_statistics.avg_attendace}}</div>
</div>