<div ng-if="sizeOf(students_top)">
    <data-owl-carousel  class="owl-carousel" data-options="{
            autoPlay: 5000,
            stopOnHover: true,
            slideSpeed : 300,
            paginationSpeed : 400,
            singleItem : true}">
        <div div owl-carousel-item="" class="media social-feed" ng-repeat="students in students_top track by $index">
            <div class="col-lg-12" style="border-bottom: 1px dotted #ccc;">
                <div class="col-lg-6" ng-repeat="student in students track by $index">
                    <div class="pull-left thumb">
                        <img class="media-object img-circle" src="{{student.photo_file_name}}" alt="">
                    </div>
                    <div class="media-body" style="padding-left: 20px;">
                        <h4 class="media-heading mb-0"><strong><a href="{{server_link}}student/profile/{{student.id}}">{{student.name}}</a></strong></h4>
                        <small>Admission No: <b>{{student.admission_no}}</b></small><br />
                        <small><b>{{student.class_name}}, Section: {{student.section_name}}</b></small><br />
                        <small><i class="fa fa-mobile-phone">&nbsp;&nbsp;</i><b>{{student.phone}}</b></small><br />
                        <small class="text-lightred"><b>100% Present</b></small><br /><br />
                    </div>
                </div>
            </div>
        </div>
    </data-owl-carousel>
</div>
<div ng-if="!sizeOf(students_top)" class="col-md-12" style="text-align: center; font-weight: bold;">
    <div ng-if="class_month">
        [ No Students found with 100% Attendance ]
    </div>
    <div ng-if="!class_month">
        [No attendance record found for this month]
    </div>
</div>