<div ng-if="sizeOf(employees_top)">
    <data-owl-carousel  class="owl-carousel" data-options="{
            autoPlay: 5000,
            stopOnHover: true,
            slideSpeed : 300,
            paginationSpeed : 400,
            singleItem : true}">
        <div div owl-carousel-item="" class="media social-feed" ng-repeat="employees in employees_top track by $index">
            <div class="col-lg-12" style="border-bottom: 1px dotted #ccc;">
                <div class="col-lg-6" ng-repeat="employee in employees track by $index">
                    <div class="pull-left thumb">
                        <img class="media-object img-circle" src="{{employee.photo_file_name}}" alt="">
                    </div>
                    <div class="media-body" style="padding-left: 20px;">
                        <h4 class="media-heading mb-0"><strong>{{employee.name}}</strong></h4>
                        <small>Employee Number: <b>{{employee.employee_number}}</b></small><br />
                        <small><b>{{employee.employee_position}}</b></small><br />
                        <small class="text-lightred"><b>100% Present</b></small><br /><br />
                    </div>
                </div>
            </div>
        </div>
    </data-owl-carousel>
</div>
<div ng-if="!sizeOf(employees_top)" class="col-md-12" style="text-align: center; font-weight: bold;">[ No Employee found with 100% Attendance ]</div>