<div class="events">

  <div class="title">
    <div class="tabbed-header">
      
      <div class="title-wrapper">
        <div class="custom-header-icon">
          <%= image_tag "/images/calendar_date_select/calendar-header.png" %>
        </div>
        <div class="title">EVENT</div>
      </div>

      <div class="tabs-wrapper">
        <span class="tabbed-span">upcoming Events</span>
        <span class="tabbed-span">Club News</span>
        <span class="tabbed-span">Archive Page</span>
      </div>
      
    </div>
  </div>
  
  <div class="clearfix"></div>

  <div class="event-list">
    <ul>
      <li>
        
        <div class="event-icon-wrapper">
          <div class="event-category-name">
            
          </div>
          <%= image_tag "/images/icons/events/01.png", :class => 'event_custom_icon', :id => "01" %>
          <%#= image_tag "/images/icons/events/#{im_name}", :class => 'custom_icon', :id => "#{im_name}" %>
          <%#= image_tag "/images/calendar_date_select/calendar-header.png" %>
        </div>
        
        <div class="event-description">
          <div>
            <span>Title</span>
            <span>Event Title</span>
          </div>
          <div>
            <span>Description</span>
            <span>Event Description</span>
          </div>
        </div>
        
        <div class="event-description-btn">
          <div>
            Time
          </div>
          <div>
            Date
          </div>
          <div>
            Button
          </div>
        </div>
        
      </li>
    </ul>
  </div>
</div>

<% content_for :head do %>
  <%= javascript_include_tag "custom/event" %>
<% end %>