<html>
    <head>
        <title>Testimonial</title>
    </head>
    <body>
        <%
          if @board_exam_student.session.blank?
            @board_exam_student.session = @board_exam.board_session.name
          end
      
        %>
        <%= render  :partial=>"/board/testimonial" %>
    </body>
</html>
<style>

    @import url('https://fonts.googleapis.com/css?family=Cookie');

    p
    {
        font-size: 22px;
        font-style: italic;
        font-family: 'Cookie', cursive;
    }
    
    #left-position-0
    {
        position: fixed;
        left: 50;
        top: 170;
    }
    #left-position-1
    {
        position: fixed;
        left: 60;
        top: 245;
    }
    #left-position-2
    {
        position: fixed;
        left: 115;
        top: 287;
    }
    #left-position-3
    {
        position: fixed;
        left: 85;
        top: 338;
    }
    #left-position-4
    {
        position: fixed;
        left: 143;
        top: 338;
    }
    #left-position-5
    {
        position: fixed;
        left: 90;
        top: 427;
    }
    #left-position-6
    {
        position: fixed;
        left: 115;
        top: 469;
    }
    #left-position-7
    {
        position: fixed;
        left: 115;
        top: 516;
    }
    #left-position-8
    {
        position: fixed;
        left: 185;
        top: 628;
    }
    
    #position-0
    {
        position: fixed;
        left: 430;
        top: 138;
    }
    #position-1
    {
        position: fixed;
        left: 560;
        top: 175;
    }
    #position-2
    {
        position: fixed;
        left: 500;
        top: 208;
    }
    #position-3
    {
        position: fixed;
        left: 785;
        top: 208;
    }
    #position-4
    {
        position: fixed;
        left: 560;
        top: 249;
    }
    #position-5
    {
        position: fixed;
        left: 750;
        top: 249;
    }
    #position-6
    {
        position: fixed;
        left: 960;
        top: 285;
    }
    #position-7
    {
        position: fixed;
        left: 830;
        top: 356;
    }
    #position-8
    {
        position: fixed;
        left: 560;
        top: 395;
    }
    #position-9
    {
        position: fixed;
        left: 591;
        top: 430;
    }
    #position-10
    {
        position: fixed;
        left: 910;
        top: 628;
    }
</style>
<style type="text/css" media="print">
  @page { size: landscape; }
</style>
<script>
  window.print();
</script>  
