<html>
    <head>
        <title>Testimonial</title>
    </head>
    <body>
        <% iloop = 0 %>
        <% @board_exam_students.each do |exam_std| %>
          <%
              @board_exam_student = BoardExamStudent.find(exam_std.id)
              @std_info = get_student_all_type(@board_exam_student.student_id)
              @std_guardians = @std_info.student_guardian
              if @board_exam_student.session.blank?
                @board_exam_student.session = @board_exam.board_session.name
              end
          %>
          <% unless @board_exam_student.board_grading_level_id.blank? %>
            <div class="break" >
              <% if iloop > 0 %>
               &nbsp;
              <% end %>
             <%= render  :partial=>"/board/testimonial" %> 
            </div> 
            <% iloop = iloop+1 %>
          <% end %>
        <% end %>
    </body>
</html>
<style>

    @import url('https://fonts.googleapis.com/css?family=Cookie');

    p
    {
        font-size: 22px;
        font-style: italic;
        font-family: 'Cookie', cursive;
    }
    .break
    {
      page-break-after: always !important;
      page-break-before: always !important;
      position: relative;
      padding: 0px !important;
      margin: 0px !important;
    }
    #left-position-0
    {
        position: absolute;
        left: 50;
        top: 165;
    }
    #left-position-1
    {
        position: absolute;
        left: 60;
        top: 240;
    }
    #left-position-2
    {
        position: absolute;
        left: 115;
        top: 282;
    }
    #left-position-3
    {
        position: absolute;
        left: 85;
        top: 333;
    }
    #left-position-4
    {
        position: absolute;
        left: 143;
        top: 333;
    }
    #left-position-5
    {
        position: absolute;
        left: 90;
        top: 422;
    }
    #left-position-6
    {
        position: absolute;
        left: 115;
        top: 464;
    }
    #left-position-7
    {
        position: absolute;
        left: 115;
        top: 511;
    }
    #left-position-8
    {
        position: absolute;
        left: 185;
        top: 623;
    }
    
    #position-0
    {
        position: absolute;
        left: 430;
        top: 135;
    }
    #position-1
    {
        position: absolute;
        left: 560;
        top: 172;
    }
    #position-2
    {
        position: absolute;
        left: 500;
        top: 205;
    }
    #position-3
    {
        position: absolute;
        left: 785;
        top: 205;
    }
    #position-4
    {
        position: absolute;
        left: 560;
        top: 246;
    }
    #position-5
    {
        position: absolute;
        left: 750;
        top: 246;
    }
    #position-6
    {
        position: absolute;
        left: 960;
        top: 282;
    }
    #position-7
    {
        position: absolute;
        left: 830;
        top: 353;
    }
    #position-8
    {
        position: absolute;
        left: 560;
        top: 392;
    }
    #position-9
    {
        position: absolute;
        left: 591;
        top: 427;
    }
    #position-10
    {
        position: absolute;
        left: 910;
        top: 625;
    }
</style>
<style type="text/css" media="print">
  @page { size: landscape; }
</style>
<script>
  window.print();
</script>  
