.CSSTableGenerator table.summary thead tr th
    {
        color: #000;
        padding : 30px;
        background-color:#F2F5F6;
    }
    .CSSTableGenerator table.summary thead tr th:last-child
    {
        border:none;
    }
    .CSSTableGenerator table thead tr th {
        background-color: #f0f2f3;
        border-right: 1px solid #d7dbdd;
        padding: 3px;
        text-align: center;
        font-size: 13px;
    }
    .CSSTableGenerator table  td {
        font-size: 13px;
    }

    .CSSTableGenerator table#listing  td {
        vertical-align: middle;
        border: 1px solid #D7DBDD;
        text-align: left;
        padding: 15px;
        font-size: 12px;
        font-weight: normal;
        color: #333333;
    }
    .CSSTableGenerator table thead tr th span:last-child
    {
        color: #C00;
        font-size: 35px;
        float:left;
        margin-left: 10px;
        margin-top: 0px;

    }
    .header-wrapper .header-title-sub-text {
        letter-spacing: unset;
    }
    .timetable_last a
    {
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        background: #CB1119 none repeat scroll 0 0;
        color: #FFFFFF !important;
        font-size: 14px;
        font-weight: bold;
        margin-top: 20px;
        padding: 7px 10px;
        border: none;
        text-align: center;
        width: auto;
        cursor: pointer;
        float: left;
        margin-left:8px;
        text-decoration: none;
        display: block;
    }
    .subcontent-date p
    {
        line-height: 1.8;
        margin: 0px;
        padding: 0;
    }
    div.button-link-report
    {

        background: #C91018;
        color:white;

    }
    div.button-link-report:hover
    {
        background: #383838;
    }
    .CSSTableGenerator td
    {
        padding: 10px;
    }
    #page-yield 
    {
        width:1250px;
        margin: 0 auto;
        overflow: hidden;
    }
        
    .section2
    {
        margin-top:120px;
    }