


#page-yield 
{
    width:1250px;
    margin: 0 auto;
    overflow: hidden;
}

.section2
{
    margin-top:120px;
}
.result_main_table
{
    margin-top: 40px;
}
h4{margin: 5px;}
.current_batch
{
    margin-top: 10px;
}



/*MPSC COMBINE REPORT CARD STYLE*/
.header_address
{
    margin-left: 220px;
}



.odd{
    height:auto;
    background: #fff;
    font-size: 18px;

}

.even{

    height:auto;
    background: #fff;
    font-size: 18px;


}
tr.even{
    border: 1px solid #000000;
}

tr.odd{
    border: 1px solid #000000;
}

.even td{

    padding: 3px 3px 3px 3px;
    border: 1px solid #000000;
    border-top: 0px solid #fff;
    text-align: center;

}

.odd td{
    padding: 3px 3px 3px 3px;
    border: 1px solid #000000;
    border-top: 0px solid #fff;
    text-align: center;

}
.table-header td{
    padding: 5px 5px 5px 8px;
    border: 1px solid #000000;
    color: #000000;
    background: #ffffff;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

table#pdf-table{
    border-top: 1px solid #000000;
    border-collapse:collapse
}

#pdf-header-south{
    width:1000px;
}



.page-break td{
    height: 80px;
    border: 1px solid #fff;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.name-std
{
    white-space: nowrap;
}

.baf_shaheen tr.even td{

    padding: 5px 0px 5px 0px;
    border: 1px solid #000000;
    border-top: 0px solid #fff;
    text-align: center;

}

.baf_shaheen tr.odd td{
    padding: 5px 0px 5px 0px;
    border: 1px solid #000000;
    border-top: 0px solid #fff;
    text-align: center;

}





.legal_tabulation h4{
    font-size: 12px;
}
.legal_tabulation h2{
    font-size: 14px;
}

.legal_tabulation tr td{
    font-size: 9px;
}
.legal_tabulation tr.even td{

    padding: 5px 0px 5px 0px;
    border: 1px solid #000000;
    border-top: 0px solid #fff;
    text-align: center;
    font-size: 9px;

}

.legal_tabulation tr.odd td{
    padding: 5px 0px 5px 0px;
    border: 1px solid #000000;
    border-top: 0px solid #fff;
    text-align: center;
    font-size: 9px;

}

.legal_tabulation .table-header td{
    padding: 5px 0px 5px 0px;
    border: 1px solid #000000;
    color: #000000;
    background: #ffffff;
    font-weight: bold;
    text-align: center;
    font-size: 9px;
}



