.margin-top-40
{
    margin-top:40px;
}
.margin-top-bottom-20
{
    margin:20px 0px;
}

#page-yield {
    width:800px;
    margin: 0 auto;
    float: left;
    overflow: hidden;
}



.hor_line{
    width:800px;
    background: #333333;
    height: 1px;
}

h2.heading{
    text-align: center;
    margin:5px;
}

#main_info h4.new_heading{
    text-align: center;
    margin:10px;
}

#main_info h4{
    color: #555555;
    margin-top: 18px;
    font-weight: normal;
}

#main_info h2{
    margin-bottom: 2px;
    font-weight: normal;

}


.odd{
    height:auto;
    background: #EEEEEE;

}

.even{

    height:auto;
    background: #fff;


}
tr.even{
    border: 1px solid #ADACAB;
}

tr.odd{
    border: 1px solid #ADACAB;
}

.even td{

    padding: 8px 8px 8px 11px;
    border: 1px solid #ADACAB;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;
    font-size:12px;
    text-align: center;

}

.odd td{
    padding: 8px 8px 8px 11px;
    border: 1px solid #ADACAB;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;
    font-size:12px;
    text-align: center;

}



.table-header td{
    padding: 8px 8px 8px 11px;
    border-top: 1px solid #ADACAB;
    border-left: 1px solid #ADACAB;
    border-right: 1px solid #ADACAB;
    border-bottom: 1px solid #ADACAB;
    color:black;
    font-weight: bold;
    font-size:12px;
    text-align: center;
}

table#pdf-table{
    border-top: 1px solid #ADACAB;
    border-collapse:collapse;
    wdth:800px;
}


#page-extender{
    width:100%;
    height :300px;

}
#page-extender1{
    width:100%;
    height :500px;

}

.report{
    min-height: 1250px;
    margin: 0 auto;
}

.report1{
    min-height: 1260px;
    margin: 0 auto;
}

#signature{
    text-align: right;
    width: 700px;
    margin: 0 auto;
    color: #999999;
    font-size: 18px;
    margin-bottom: 100px;
}


#page-yield h2{
    text-align: center;
}


.page-break td{
    height: 300px;
    border: 1px solid #fff;
    border-bottom: 1px solid #ADACAB;
}

.custom_header{
    margin-top: 50px;
}
.font-size-20
{
    font-size:13px;
}
.academia_box
{
    width:800px;
    margin-top:10px;
}

.academia_box table td
{
    border: 1px solid #000;
    font-size:10px;
    padding:3px;
    width:800px;
}


.odd1{
    height:auto;
    

}

.even1{

    height:auto;
  


}
tr.even1{
    border: 1px solid #ADACAB;
}

tr.odd1{
    border: 1px solid #ADACAB;
}

.even1 td{

    padding: 8px 8px 8px 11px;
    border: 1px solid #ADACAB;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;
    font-size:12px;
    text-align: center;

}

.odd1 td{
    padding: 8px 8px 8px 11px;
    border: 1px solid #ADACAB;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;
    font-size:12px;
    text-align: center;

}

.col-pdf
{
    white-space: nowrap;
}

#pdf-header{
    width:800px;
}

#pdf-header-south{
    width:1000px;
}
 #pdf-footer{
    width:800px;
}

#pdf-footer.st-joshef-footer
{
    width:800px;
}


.st-joshef-header h4
{
    font-size:28px;
}
.st-joshef-header img
{
    width: 11% !important;
}

.general-header img
{
    width: 10% !important;
}
table.font-size-10 tr.odd td,table.font-size-10 tr.even td
{
    font-size:10px;
}
table.teacher_remarks tr th
{
    padding : 8px 0px;
}
table.teacher_remarks tr td
{
    padding : 7px;
    font-size: 15px;
}

.left-width-20
{
  width:20%;
  text-align: left;
}
.no-exam tr td
{
   text-align: left !important; 
}




///baf shaheen
.baf_shaheen table td
{
    font-size:16px;
    padding: 4px 4px 4px 9px;   
}
.baf_shaheen table tr td.t-left
{
    text-align: left;
}
.baf_shaheen table td.border-left-none{
   border-left: none !important; 
} 
.baf_shaheen table td.border-right-none{
   border-right: none !important;  
}
 .baf_shaheen table td.no-border
 {
    border: none !important;  
 }
 .baf_shaheen table.evaluation td
 {
     text-align: left;
     padding: 4px 2px 5px 9px !important; 
     font-size: 16px;
 }
 .baf_shaheen td.align-center
 {
     text-align:center !important;
 }
 .baf_shaheen #pdf-table
 {
     margin-left:1px;
 }
 .baf_shaheen table tr td.align-left
 {
     text-align:left;
 }
 
 

.baf_shaheen .table-header td{
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    color: #000000;
    background: #EEEEEE;
    font-weight: bold;
    text-align: center;
}


.baf_shaheen tr.odd td
{
    padding: 2px 2px 7px 5px;  
    border: 1px solid #000000;
    font-size: 16px;
}
.baf_shaheen tr.even td
{
    padding: 2px 2px 7px 5px;
    border: 1px solid #000000;
    font-size: 16px;
}

.baf_shaheen table#pdf-table{
    border-top: none;
    border-collapse:collapse
}
.baf_shaheen tr.even{
    border: none;
}

.baf_shaheen tr.odd{
    border: none;
}
.baf_shaheen h4.h4-evaluation
{
   margin: 10px 0px 10px 5px; 
}
.baf_shaheen h4
{
    border-bottom: 2px solid black;
    font-size: 17px;
    padding: 0px;
    width: auto;
    float:left;
    clear:both;
    margin-bottom: 9px;
}

.baf_shaheen div.student_information
{
    float:left;
    clear:both;
    font-size: 16px;
    width: 72%;
    margin: 10px 10px;
    
    
}
.baf_shaheen div.student_information table
{
    margin: 10px 0px;
    float:left;
    clear:both;
}
.baf_shaheen div.student_information table tr td
{
    padding: 8px 8px 8px 4px;  
}
.baf_shaheen div.student_information table tr td.font-dark
{
    font-weight: 500;
}
.baf_shaheen div.student_information table tr td.font-light
{
   color: #333333; 
}
.baf_shaheen div.grade_information
{
    margin-left:45px;
    float:left;
    width: 17.5%;
    font-size: 12px;
   
}
.baf_shaheen div.grade_information table tr.odd td
{
    padding: 3px 3px 3px 5px;
    font-size: 16px;
}
.baf_shaheen div.grade_information table tr.even td
{
    padding: 3px 3px 3px 5px;
    font-size: 16px;
}
.baf_shaheen div.grade_information p
{
    font-size: 12px;
    margin-left: 20px;
    margin-bottom: 3px;
}
div.baf_shaheen
{
    font-family:Arial,"Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
}





