


#page-yield 
{
    width:1250px;
    margin: 0 auto;
    overflow: hidden;
}

.section2
{
    margin-top:120px;
}
.result_main_table
{
    margin-top: 40px;
}
h4{margin: 5px;}
.current_batch
{
    margin-top: 10px;
}



/*MPSC COMBINE REPORT CARD STYLE*/
.header_address
{
    margin-left: 220px;
}



.odd{
    height:auto;
    background: #fff;
    font-size: 11px;

}

.even{

    height:auto;
    background: #fff;
    font-size: 11px;


}
tr.even{
    border: 1px solid #000000;
}

tr.odd{
    border: 1px solid #000000;
}

.even td{

    padding: 5px 5px 5px 8px;
    border: 1px solid #000000;
    border-top: 0px solid #fff;
    text-align: center;

}

.odd td{
    padding: 5px 5px 5px 8px;
    border: 1px solid #000000;
    border-top: 0px solid #fff;
    text-align: center;

}
.table-header td{
    padding: 5px 5px 5px 8px;
    border: 1px solid #000000;
    color: #000000;
    background: #ffffff;
    font-weight: bold;
    text-align: center;
    font-size: 11px;
}

table#pdf-table{
    border-top: 1px solid #000000;
    border-collapse:collapse
}

#pdf-header-south{
    width:1000px;
}

.page-break4 td{
    height: 30px;
    border: 1px solid #fff;
    border-top: 1px solid #ADACAB;
    border-bottom: 1px solid #ADACAB;
}
.page-break1 td{
    height: 150px;
    border: 1px solid #fff;
    border-top: 1px solid #ADACAB;
    border-bottom: 1px solid #ADACAB;
}
.page-break3 td{
    height: 30px;
    border: 1px solid #fff;
    border-top: 1px solid #ADACAB;
    border-bottom: 1px solid #ADACAB;
}
.page-break2 td{
    height: 77px;
    border: 1px solid #fff;
    border-top: 1px solid #ADACAB;
    border-bottom: 1px solid #ADACAB;
}
.page-break5 td{
    height: 56px;
    border: 1px solid #fff;
    border-top: 1px solid #ADACAB;
    border-bottom: 1px solid #ADACAB;
}
.page-break6 td{
    height: 46px;
    border: 1px solid #fff;
    border-top: 1px solid #ADACAB;
    border-bottom: 1px solid #ADACAB;
}
.page-break60 td{
    height: 60px;
    border: 1px solid #fff;
    border-top: 1px solid #ADACAB;
    border-bottom: 1px solid #ADACAB;
}

.page-break65 td{
    height: 65px;
    border: 1px solid #fff;
    border-top: 1px solid #ADACAB;
    border-bottom: 1px solid #ADACAB;
}

.page-break68 td{
    height: 68px;
    border: 1px solid #fff;
    border-top: 1px solid #ADACAB;
    border-bottom: 1px solid #ADACAB;
}

.page-break70 td{
    height: 70px;
    border: 1px solid #fff;
    border-top: 1px solid #ADACAB;
    border-bottom: 1px solid #ADACAB;
}

.page-break74 td{
    height: 74px;
    border: 1px solid #fff;
    border-top: 1px solid #ADACAB;
    border-bottom: 1px solid #ADACAB;
}
.page-break75 td{
    height: 75px;
    border: 1px solid #fff;
    border-top: 1px solid #ADACAB;
    border-bottom: 1px solid #ADACAB;
}

.page-break90 td{
    height: 95px;
    border: 1px solid #fff;
    border-top: 1px solid #ADACAB;
    border-bottom: 1px solid #ADACAB;
}

.page-break90 td{
    height: 100px;
    border: 1px solid #fff;
    border-top: 1px solid #ADACAB;
    border-bottom: 1px solid #ADACAB;
}

.page-break90 td{
    height: 90px;
    border: 1px solid #fff;
    border-top: 1px solid #ADACAB;
    border-bottom: 1px solid #ADACAB;
}

.page-break85 td{
    height: 85px;
    border: 1px solid #fff;
    border-top: 1px solid #ADACAB;
    border-bottom: 1px solid #ADACAB;
}

.page-break td{
    height: 80px;
    border: 1px solid #fff;
    border-top: 1px solid #ADACAB;
    border-bottom: 1px solid #ADACAB;
}
.page-break2-bf td{
    height: 65px;
    border: 1px solid #fff;
    border-top: 1px solid #ADACAB;
    border-bottom: 1px solid #ADACAB;
}
.page-break4-bf td{
    height: 55px;
    border: 1px solid #fff;
    border-top: 1px solid #ADACAB;
    border-bottom: 1px solid #ADACAB;
}
.page-break3-bf td{
    height: 50px;
    border: 1px solid #fff;
    border-top: 1px solid #ADACAB;
    border-bottom: 1px solid #ADACAB;
}
.name-std
{
    white-space: nowrap;
}

.baf_shaheen tr.even td{

    padding: 5px 0px 5px 0px;
    border: 1px solid #000000;
    border-top: 0px solid #fff;
    text-align: center;

}

.baf_shaheen tr.odd td{
    padding: 5px 0px 5px 0px;
    border: 1px solid #000000;
    border-top: 0px solid #fff;
    text-align: center;

}





.legal_tabulation h4{
    font-size: 12px;
}
.legal_tabulation h2{
    font-size: 14px;
}

.legal_tabulation tr td{
    font-size: 9px;
}
.legal_tabulation tr.even td{

    padding: 5px 0px 5px 0px;
    border: 1px solid #000000;
    border-top: 0px solid #fff;
    text-align: center;
    font-size: 9px;

}

.legal_tabulation tr.odd td{
    padding: 5px 0px 5px 0px;
    border: 1px solid #000000;
    border-top: 0px solid #fff;
    text-align: center;
    font-size: 9px;

}

.legal_tabulation .table-header td{
    padding: 5px 0px 5px 0px;
    border: 1px solid #000000;
    color: #000000;
    background: #ffffff;
    font-weight: bold;
    text-align: center;
    font-size: 9px;
}



