

.wrapper_carousel {
  max-width: 540px;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

/**
 * Use this wrapper_carousel only for demo purposes
 * So you can show the items outside the wrapper_carousel
 */

.wrapper_carousel--demo { overflow: visible; }

.wrapper_carousel--demo:after,
.wrapper_carousel--demo:before {
  content: "";
  position: absolute;
  width: 682px;
  height: 100%;
  top: 0;
  left: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 2;
}

.wrapper_carousel--demo:before { left: -682px; }
.carousel {
  width: 100%;
  position: relative;
}

.carousel .carousel__content {
  width: auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transition: translate3d(0, 0, 0);
}

.carousel .carousel__content .item {
  display: block;
  float: left;
  width: 100%;
  position: relative;
}

.carousel .carousel__content .item .title {
  position: absolute;
  top: 50%;
  left: 0;
  margin: -33px 0 0 0;
  padding: 0;
  font-size: 3rem;
  width: 100%;
  text-align: center;
 letter-spacing: .3rem;
  color: #FFF;
}

.carousel .carousel__content .item .title--sub {
  margin-top: 20px;
  font-size: 1.2em;
  opacity: .5;
}

.carousel .carousel__content .item img {
  width: auto;
  max-width: 100%;
  display: inline-block;
}

.carousel .carousel__nav {
  position: relative;
  width: 100%;
  left: 0;
  z-index: 1;
}

.carousel .carousel__nav .nav {
  position: relative;
  top: 0;
  color: #000;
  background: #FFF;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: padding .25s ease;
  border: 1px solid #29A49F;
  display: inline-flex;
}

.carousel .carousel__nav .nav:hover { padding: 10px 16px;background: #29A49F;color:#FFF;transition: padding .50s ease; }

.carousel .carousel__nav .nav--left { border-radius: 0px 3px 3px 0px; }

.carousel .carousel__nav .nav--right {
  right: 0;
  border-radius: 3px 0px 0px 3px;
}

/* Tiny Carousel */
#slider1 { height: 1%; overflow: hidden; padding: 0 0 10px; }
#slider1 .viewport { float: left; width: 240px; height: 125px; overflow: hidden; position: relative; }
#slider1 .buttons {
    background: #C01313;
    border-radius: 35px;
    display: block;
    margin: 30px 10px 0 0;
    float: left;
    width: 35px;
    height: 35px;
    position: relative;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    font-size: 22px;
}
#slider1 .next {
    margin: 30px 0 0 10px;
}
#slider1 .buttons:hover {
    color: #C01313;
    background: #fff;
}
#slider1 .disable { visibility: hidden; }
#slider1 .overview { list-style: none; position: absolute; padding: 0; margin: 0; width: 240px; left: 0; top: 0; }
#slider1 .overview li { float: left; margin: 0 20px 0 0; padding: 1px; height: 121px; border: 1px solid #dcdcdc; width: 236px; }