.tz-header{
    background: #000000;
}
.tz_logo{
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
}
.tz_logo:hover{
    text-decoration: none;
    color: white;
}
.nav li{
    position: relative;
}

.nav li:hover .themeple_custom_menu_mega_menu{
    display: block;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    opacity: 1;
}
.themeple_custom_menu_mega_menu {
    position:absolute;
    background: #fff;
    padding: 20px 20px 10px;
    display: block;
    left: 100%;
    top: 0;
    border-color: #E1E5E7;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform-origin: 0 10% 0;
    -ms-transform-origin: 0 10% 0;
    -moz-transform-origin: 0 10% 0;
    -o-transform-origin: 0 10% 0;
    -webkit-transform-origin: 0 10% 0;
    transition: transform 0.3s ease-out 0s, opacity 0.1s ease-out 0s;
    -moz-transition: transform 0.3s ease-out 0s, opacity 0.1s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s, opacity 0.1s ease-out 0s;
    -ms-transition: transform 0.3s ease-out 0s, opacity 0.1s ease-out 0s;
    -o-transition: transform 0.3s ease-out 0s, opacity 0.1s ease-out 0s;
    opacity: 0;
    z-index: 99;

}
nav .themeple_custom_menu_mega_menu ul{
    position: relative;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
nav .themeple_custom_menu_mega_menu ul > li {
    float:left;
    padding:0;
    margin:0;
    height:auto;
}
nav .themeple_custom_menu_mega_menu li ul li a{
    border-top: 1px solid #E1E5E7;
    color: #414952;
    font-size: 12px;
    padding: 10px 0 !important;
    display: block;
    font-family: 'OpenSansRegular';
}
nav .themeple_custom_menu_mega_menu ul li a.mega-group-title {
    background: inherit;
    border-bottom: medium none;
    border-top: medium none;
    color: #414952;
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 0 5px !important;
    line-height: 20px;
    font-family: 'open_sanssemibold';
}
nav .themeple_custom_menu_mega_menu > ul > li:first-child{
    margin-left:0 !important;
}
nav .themeple_custom_menu_mega_menu li {
    margin-left:20px !important;
}
nav .themeple_custom_menu_mega_menu ul>li li {
    margin-left:0 !important;
}
nav .themeple_custom_menu_mega_menu.themeple_mega1 {
    width:255px !important;
}
nav .themeple_custom_menu_mega_menu.themeple_mega1 li {
    width:195px !important;
}
nav .themeple_custom_menu_mega_menu.themeple_mega2 {
    width:360px !important;
}
nav .themeple_custom_menu_mega_menu.themeple_mega2 li {
    width:170px !important;
}
nav .themeple_custom_menu_mega_menu.themeple_mega3 {
    width:560px !important;
}
nav .themeple_custom_menu_mega_menu.themeple_mega3 li {
    width:173px !important;
}
nav .themeple_custom_menu_mega_menu.themeple_mega4 {
    width:760px !important;
}

nav .themeple_custom_menu_mega_menu.themeple_mega4 li {
    width:175px !important;
}
nav .themeple_custom_menu_mega_menu.themeple_mega5 {
    width:780px !important;
}
nav .themeple_custom_menu_mega_menu.themeple_mega5 li {
    width:140px !important;
}

/*css no mega*/
.non_mega_menu{
    list-style: none outside none;
    width: 180px;
    position:absolute;
    background: #fff;
    padding: 10px 20px;
    display: block;
    left: 100%;
    top: 0;
    border-color: #E1E5E7;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    margin: 0;
    z-index: 99;

}
.plazart-megamenu ul .current-menu-item:before{
    border-bottom: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid #F4F4F4;
    border-top: 10px solid rgba(0, 0, 0, 0);
    content: "";
    margin-top: -5px;
    position: absolute;
    right: 0;
    top: 50%;
}
.plazart-megamenu ul li ul .current-menu-item:before{
    display: none;
}
.non_mega_menu li:first-child a{
    border-top: 0;
}
.non_mega_menu li a{
    border-top: 1px solid #E1E5E7;
    color: #414952;
    font-size: 12px;
    padding: 10px 0 !important;
    display: block;
    font-family: 'OpenSansRegular';
}
.non_mega_menu ul{
    list-style: none outside none;
    width: 180px;
    position:absolute;
    background: #fff;
    padding: 10px 20px;
    left: 100%;
    top: -21%;
    border-color: #E1E5E7 #E1E5E7 #E1E5E7 -moz-use-text-color;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    margin: 0;
    z-index: 99;
}
ul li ul.non_mega_menu,
ul li ul.non_mega_menu li ul,
ul li ul.non_mega_menu li ul.sub-menu,
ul li ul.non_mega_menu li ul.sub-menu li ul,
ul li ul.non_mega_menu li ul.sub-menu li ul li ul,
ul li ul.non_mega_menu li ul.sub-menu li ul li ul li ul,
ul li ul.non_mega_menu li ul.sub-menu li ul li ul li ul li ul{
    transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform-origin: 0 10% 0;
    -moz-transform-origin: 0 10% 0;
    -webkit-transform-origin: 0 10% 0;
    -ms-transform-origin: 0 10% 0;
    -o-transform-origin: 0 10% 0;
    transition: transform 0.3s ease-out 0s, opacity 0.1s ease-out 0s;
    -moz-transition: transform 0.3s ease-out 0s, opacity 0.1s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s, opacity 0.1s ease-out 0s;
    -ms-transition: transform 0.3s ease-out 0s, opacity 0.1s ease-out 0s;
    -o-transition: transform 0.3s ease-out 0s, opacity 0.1s ease-out 0s;

    opacity: 0;
}

/*Hover Menu*/

ul li:hover ul.sub-menu,
ul li ul li:hover ul.sub-menu,
ul li ul li ul li:hover ul.sub-menu,
ul li ul li ul li ul li:hover ul.sub-menu,
ul li ul li ul li ul li ul li:hover ul.sub-menu{
    display: block;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    opacity: 1;
}