
/*====================================
Landscape phones and down
 =====================================*/
@media (max-width: 480px) {

    body .alignright, body img.alignright {
        width: 96%;
    }
    .tz_portfolio_video_attr{
        height: 220px !important;
    }
    section#tz-main #tz-component .TzItemPage .TzItemPageInner .TzArticleInfo span.TzCreate{
        float: none;
        display: block;
        text-align: left;
    }
    .TzCreatedby{
        margin-right: 10px !important;
    }
    section#tz-main #tz-component .TzItemPage .TzItemPageInner .TzArticleInfo span.TzCreatedby,
    section#tz-main #tz-component .TzItemPage .TzItemPageInner .TzArticleInfo span.TzArticleTag,
    section#tz-main #tz-component .TzItemPage .TzItemPageInner .TzArticleInfo span.TZCommentCount{
        float: left;
        display: inline-block;
        text-align: left;
        margin-left: 0;
        margin-top: 10px;
        padding-left: 0;
    }
    section#tz-main #tz-component .TzItemPage .TzItemPageInner .TzArticleInfo span.TZCommentCount {
        padding-left: 10px !important;
    }
    section#tz-main #tz-component .TzItemPage .TzItemPageInner .tz_portfolio_user .AuthorBlock .AuthorAvatar, #tz-main #tz-component .TzPortfolioItemPage .TzItemPageInner .tz_portfolio_user .AuthorBlock .AuthorAvatar{
        width: 80px;
        height: 80px;
    }
    .tz_portfolio_user .AuthorAvatar img{

        width: 80px;
        height: 80px;
    }
    span.sh-title-contact{
        margin-left: 0;
    }

    .dl-horizontal dd {
        margin-left: 0 !important;
    }
    .AuthorAvatar{
        margin-right: 0 !important;
    }
    .tz_portfolio_user .AuthorAvatar {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
        height: 80px;
        width: 80px;
    }
}
/* end Landscape phones and down */