<p>&nbsp;</p>
<div id="pdf-header-south" class="general-header potrait_header_south_point">
    <table width="100%">
        
        <td class="south-logo"><span><%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/nascd/logo.jpg")),:width=> '100%' %></span></td>
        
        <td class="name-td">
              <h3 align="center">&nbsp;&nbsp;&nbsp;&nbsp;NAVY ANCHORAGE SCHOOL AND COLLEGE DHAKA</h3>
              <h5 align="center">&nbsp;&nbsp;&nbsp;&nbsp;
                Progress Report <%=  @connect_exam_obj.published_date.strftime("%Y") %>
              </h5>
              <h5 align="center">&nbsp;&nbsp;&nbsp;&nbsp;Class : <%= @batch.course.course_name %></h5>
               
        </td>
        <td class="south-logo"><span><%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/side_logo_nascd.jpeg")),:width=> '120%' %></span></td>
    </table>   
</div> 
<style>
#pdf-header-south table td.name-td ,#pdf-header-south table td.name-td h3
{
    font-size: 30px !important;

}

</style>