<div id="pdf-header-south" class="sfx-header">
  <h2 align="center"><%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/nascd/logo.jpg")),:width=> '10%' %></h2>
  <h2 align="center">Navy Anchorage School And College Dhaka</h2>
  <h2 align="center"><%= @connect_exam_obj.name %> - <%=  @connect_exam_obj.published_date.strftime("%B %Y") %></h2>
</div> 