.label-field-pair label{
    color: black;
}

.label-field-pair-gateway {
    border-bottom: 2px solid #999999;
    float: left;
    height: 50px;
    padding-top: 25px;
    width: 100%;
}

.label-field-pair-gateway label{
    font-weight: bold;
    max-width: 22%;
    min-width: 22%;
    float: left;
    font-size: 15px;
    font-family: Arial;
}

.label-field-pair-gateway div.value {
    float: left;
    max-width: 45%;
    min-width: 25%;
}

.value label {
    float: left;
    font-size: 13px;
    font-weight: normal;
    font-family: Arial;
    margin-left: 8px;
    margin-top: 2px;
    max-width: 136px;
    min-width: 160px;
}


.value input {
    float: left;
    max-width: 10px;
    min-width: 10px;
}

.value img {
    float: left;
    margin-left: 5px;
    margin-right: 60px;
    margin-top: -5px;
}

.submit-button {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
    margin: 18px 290px 0;
    padding: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.check_box_group{
    float:right;
    min-width: 78%;
    max-width: 78%;
}
