.box{
    margin-left: 10px;
}
.sl_no{
    width: 10%;
    padding: 10px;
    padding-left: 10px;
}
.gateway_name{
    width: 12%;
    padding: 10px;
}

.payee_name{
    width: 12%;
    padding: 10px;
}

.fee_name{
    width: 12%;
    padding: 10px;
}

.amount{
    width: 12%;
    padding: 10px;
}

.gateway_status{
    width: 12%;
    padding: 10px;
}

.online_transaction_id{
    width: 12%;
    padding: 10px;
}

.transaction_date{
    width: 12%;
    padding: 10px;
}

.pagination {
    float: right;
    margin-right: 17px;
    margin-top: 14px;
}

table#listing{
    margin-top:20px;
    float:left;
}

.submit-button {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin: 8px 0 0 20px;
    padding: 5px 8px;
}

.label-field-pair label {
    color: #444444;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding-top: 10px;
    width: 75px;
}

.label-field-pair {
    float: left;
    height: 40px;
    margin-left: 30px;
    padding-top: 3px;
    width: auto;
}
