.ch_classwork_answers_wrapper
{
    float: left;
    width: 95%;
    background-color: #fff;
    padding:0px 30px 30px;  
    border:1px solid #CCC;
}
.classwork-question{
    background-color: #EEE;
    padding:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
#answer-container{
    padding: 30px ;
}
.classwork-answer{
    background-color: #EEE;
    padding:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    margin: 10px 0px;
}
.classwork-answer-title{
    font-weight: bold;
    font-size: 16px;
}
.classwork-answer-content{
    padding :5px;
}
#attachment{
    background: url("/images/classwork/paperclip.png") no-repeat left ;
    padding-left: 35px;
    height: 35px;
}
#attachment a{
    text-decoration: none;
    color:#000
}
#attachment a:hover {
    text-decoration: underline;
}
.answer-details label{
    color:#999999;
    float:left;
    font-size:13px;
    font-weight:bold;
    width:120px;
}
#student-name  {
    float:left;
    color:#BB0000;
    font-size:13px;
    font-weight:bold
}
#submitted-date{
    float:left;
    color:#BB0000;
    font-size:13px;
    font-weight:bold
}
.answer-details{
    height: auto;
    overflow: hidden;
}
.label-div-pair{
    padding: 3px ;
    height: auto;
    overflow: hidden;
}
.submit-button {
    margin-left:40px;
    padding: 7px 10px;
    color: #fff;
    background: #db3434;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    cursor:pointer;
    text-decoration: none;
}
.submit_button:hover {
    background:#7e0000;
}
#evaluate-answer{
    height:40px;
    margin-top:20px;
    padding-left:  280px;
    padding-top:10px;
}
.classwork-question a,#answer-status a{
    text-decoration: none;
    color:#000
}
.classwork-question a:hover,#answer-status a:hover {
    text-decoration: underline;
}
#answer-status {
color:#BB0000;
float:left;
font-size:13px;
font-weight:bold;
}
