

#page-yield {
    width:800px;
    margin: 0 auto;
    float: left;
    overflow: hidden;
    border: 0px;
}

.hor_line{
    width:800px;
    background: #333333;
    height: 1px;
}

h2.heading{
    text-align: center;
    margin:5px;
}

#main_info h4{
    color: #555555;
    margin-top: 19px;
    font-weight: normal;
}

#main_info h2{
    margin-top: 2px;
    font-weight: normal;

}


.odd{
    height:auto;
    background: #fff;

}

.even{

    height:auto;
    background: #fff;


}
tr.even{
    border: 1px solid #000000;
}

tr.odd{
    border: 1px solid #000000;
}

.odd_summary{
    height:auto;
    background: #fff;

}

.even_summary{

    height:auto;
    background: #fff;


}
tr.even_summary{
    border: 1px solid #000000;
}

tr.odd_summary{
    border: 1px solid #000000;
}

.even td{

    padding: 8px 8px 8px 11px;
    border: 1px solid #000000;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;
    text-align: center;

}

.odd td{
    padding: 8px 8px 8px 11px;
    border: 1px solid #000000;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;
    text-align: center;

}

.even_summary td{

    padding: 4px 4px 4px 4px;
    border: 1px solid #000000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    text-align: center;

}

.odd_summary td{
    padding: 4px 4px 4px 4px;
    border: 1px solid #000000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    text-align: center;

}



.table-header td{
    padding: 8px 8px 8px 11px;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    color: #000000;
    background: #ffffff;
    text-align: center;
}
table#pdf-table tr td{ 
    font-size : 11px;
}
table#pdf-table_new tr td{ 
    font-size : 10px;
}

table#pdf-table{
    border-top: 1px solid #000000;
    border-collapse:collapse
}
table#pdf-table_new{
    border: 1px solid #000000;
    border-collapse:collapse
}


.report{
    
    margin: 0 auto;
}
#pdf-header-south{
    width:1000px;
}

#signature{
    text-align: right;
    width: 700px;
    margin: 0 auto;
    color: #999999;
    font-size: 18px;
}


#page-yield h2{
    text-align: center;
}

#page-yield_landscape h2{
    text-align: center;
}


.page-break td{
    height: 100px;
    border: 1px solid #fff;
    border-bottom: 1px solid #ADACAB;
}

td.col-bold{
    font-weight: bold;
}
.showLast {
    display: none;
}

.pLast .showLast {
    display: block;
}

p.tick_sign:before {
    display:inline-block;
    content: '';
    display: block;

    /*Make it a small rectangle so the border will create an L-shape*/
    width: 6px;
    height: 12px;

    /*Add a white border on the bottom and left, creating that 'L' */
    border: solid #000;
    border-left: 0px solid #fff;
    border-top: 0px solid #fff;
    border-width: 0 5px 5px 0;

    /*Rotate the L 45 degrees to turn it into a checkmark*/
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
