<% if @students.present? %>
   <div class="batch_select_box">
    <div class="label-field-pair">
        <div class="label-container"><label> <%= t('select_student') %><span class="necessary-field">*</span>:</label></div>
        <div class="fee_category_scroll" style="background: #fff; height: 300px; max-height: 300px;">
          <div class="sel-list" style="padding-bottom: 5px; width: 100%;">
              <div style="display: inline-block; float: left; width: 60%;">
                <input type="text" name="search_std" id="search_std" />  
              </div>  
              <div style="clear: both;"></div>
          </div>
          <% @students.each do |s| %>
            <div class="each_batch" style="padding-bottom: 8px;">
                <div class="checkbox_inline"><%= check_box_tag "fee_discount[students][]",s.id, :class=>'students_box' %></div> 
                <div class="checkbox_label"><label id="std_<%= s.id %>" class="std_name"><%= s.full_name %></label></div>
            </div>
          <% end %>
        </div>
    </div>
  </div>
<% end %>
