<div class="label-field-pair" style="width: 99%;">
    <div class="label-container">Other Payment Mode: </div>
    <div class="input-container"><%= text_field :fees, :payment_mode, :style => "width: 80% !important;" %></div>
</div>

