<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
 <%= debug @student_ids.inspect %> 
<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('transactions') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('finance_transactions_view') %></div>
</div>


<style>
    tr.tr-odd td, tr.tr-even td
    {
       text-align:right;
    }
    td.align-center
    {
       text-align:center !important;
    }
    .date span{
        display: none;
        color: #FFFFFF;
        text-align: left;
    }
    .date{
        position: relative;
    }
    td:hover .date span{
        display: block;
        position: absolute;
        background-color: black;
        border:1px solid #ccc;
        min-height: 20px;
        min-width: 100px;
        left: 0px;
        top: -60px;
        color: #FFFFFF;
        padding: 5px;
        font-size: 13px;
        text-align: center;
    }
    td
    {
      cursor: pointer;
    }
    .align-right
    {
        text-align:right !important;
    }
 
    
</style>   

<script>
  j("td").each(function(e){
    if(j(this).html() == "-")
    {
      j(this).addClass("align-center");
    }  
  });
  
</script>  