.inner-main-news {
float:left;
margin-bottom:8px;
width:100%
}

.inner-main-news h3 {
    background:#00BFF3;
    color:#fff;
    font-size:23px;
    font-weight:400;
    height:42px;
    line-height:42px;
    margin-bottom:8px;
    text-indent:20px;
}

.inner-main-story-container {
border:1px solid #cccaca;
max-height:545px;
width:66%
}

.inner-main-story {
background:#FFF;
color:#585858;
width:438px;
padding:10px 8px 0
}

.inner-main-story-info {
background:#f5f3f3;
color:#000;
font-size:12px;
font-style:italic
}

.inner-main-story h1 {
font-size:24px
}

.inner-main-topics {
background:#F5F3F3;
border:1px solid #cccaca;
max-height:539px;
width:32.3%!important
}

.inner-main-topics .inner-topics-tabs {
background:#f5f3f3;
width:100%
}

.inner-main-topics .inner-topics-tabs-contain {
height:36px;
width:100%
}

.inner-main-topics .inner-topics-tabs li {
float:left;
list-style:none;
display:block;
color:#7e7e7e;
font-size:14px;
font-style:italic;
height:36px;
text-align:center;
line-height:36px;
padding:0 9px
}

.inner-main-topics .inner-topics-tabs .active {
background-color:#585858;
color:#FFF;
position:relative
}

.inner-main-topics .inner-topics-tabs .active img {
bottom:-7px;
left:24px;
position:absolute
}

.inner-main-topics .inner-editorial {
border-bottom:1px solid #b7b8b8;
background:#fff;
display:none;
height:509px;
overflow:hidden;
position:relative;
padding:15px
}

.inner-main-topics .inner-editorial h1 {
color:#4e4d4d;
font-size:24px;
font-weight:400;
margin-bottom:20px;
margin-top:10px
}

.inner-main-topics .inner-editorial p {
color:#4e4d4d;
font-size:14px;
font-weight:400;
line-height:20px
}

.inner-editorial .editorial-img {
bottom:1px;
position:absolute;
left:0
}

.inner-main-topics .inner-topics {
border-bottom:1px solid #CCCACA;
color:#4E4D4D;
height:156px;
overflow:hidden;
display:block;
padding:12px
}

.inner-main-topics .inner-topics h1 {
font-size:16px;
font-weight:700;
line-height:16px
}

.inner-other-news {
float:left;
margin-top:5px;
width:100%;
}

.inner-other-news h1 {
font-size:20px;
font-weight:700;
line-height:20px
}

.inner-other-news p {
font-size:12px;
line-height:20px;
margin-top:5px
}

.inner-other-topics {
background:#FFF;
border:1px solid #cccaca;
color:#585858;
width:452px!important
}

.inner-other-main-topics {
float:right;
width:32%
}

.inner-other-topics-main .inner-other-topics-container {
display:table;
width:92%;
padding:12px
}

.inner-other-topics-list li {
margin-left:12px;
width:43%!important
}

.inner-other-main-topics .inner-topics {
border:1px solid #cccaca;
color:#000;
height:auto;
margin-bottom:21px
}

.inner-other-main-topics .inner-topics h1 {
background:#585858;
color:#FFF;
font-size:22px;
font-style:italic;
font-weight:400;
text-align:center;
width:100%;
padding:12px 0
}

.inner-other-main-topics .inner-topics h3 {
text-align:center;
margin:10px 0
}

.inner-other-main-topics .inner-topics h5 {
color:#606060;
font-size:12px;
font-style:italic;
font-weight:400;
text-align:right;
margin:5px 12px
}

.more_title {
background:none repeat scroll 0 0 #585858;
color:#FFF;
font-size:25px;
font-style:italic;
font-weight:400;
text-align:left;
padding:12px
}

.more_container .more_contain {
display:table;
/*width:94%;*/
padding:12px
}

.inner-main-story p,.inner-main-topics .inner-topics p {
font-size:12px;
line-height:20px
}

.inner-other-topics-main,.more_container {
border-bottom:1px solid #dedcdc;
display:table;
width:100%
}

.inner-other-topics-main .inner-other-topics-container h3,.inner-other-topics-main .inner-other-topics-container p,.more_container .more_contain h3,.more_container .more_contain p {
font-size:12px;
font-weight:400
}

.inner-other-topics-main .inner-other-topics-container h1,.more_container .more_contain h1 {
font-size:16px;
font-weight:700
}

.inner-other-topics-main .inner-other-topics-container li,.more_container .more_contain li {
color:#9A9898;
float:left;
width:45%!important;
padding:4px
}