.html5gallery-car-0
{
  border-bottom:none !important;  
}
.fifa-wrapper ul {
    margin: 0;
    padding: 0px;	
}
.fifa-wrapper{
    background:#fff;
    width:1024px;
    min-height:1000px;
    margin:0 auto;
}
.fifa-sponsor{
    height:60px;	
}
.sponsor-ad .sponsor-banner{
    float:right;
    margin:0px 0px 5px 0;	
}
.fifa-clear{
    clear:both;	
}
.fifa-content1{
    background:url(../../../../images/fifa/fifa-bg.jpg) no-repeat top;
    min-height:990px;
    margin:0 auto;
}
.fifa-header{
    height:90px;
    margin:10px 0;
}
.fifa-logo{
    float:left;
    width:30%;
}
.fifa-nav{
    float:right;
    width:70%;
}
.fifa-gallery{
    margin:0 auto;
    text-align: center;
    clear:both;
}
#nav-list{
    float: right;
    margin: 20px 50px 0 0;
}
.nav-list li{
    list-style-type: none;
    display: inline-block;
    border-right: 1px solid #000;
    padding: 5px;
}
.nav-list li:last-child{
    padding-right: 0px;
    border-right:none;
}
.nav-list li a{
    font-size:18px;
    font-weight:bolder;
    color:#000;
    text-decoration:none;
    font-family:Arial, Helvetica, sans-serif;

}
.nav-list li a:hover  {
    color:#272727;
    text-decoration:underline;
}
.button-Content{
    height:70px;	
}
.btn-fifa{
    margin: 20px 0px 20px 345px;
    position: absolute;
}	

.btn-list span{ 
    list-style-type: none;
    display: inline-block;
    width:110px;
    height: 25px;
    background: url(../../../../images/fifa/02-White.jpg) no-repeat;
    margin:0px  0 0 0px;
    padding:0px;
    float: left;
    text-align:center;
}
.btn-list span:first-child{ 
    background: url(../../../../images/fifa/01-White.jpg) no-repeat;

}
.btn-list span:last-child{ 
    background: url(../../../../images/fifa/03-White.jpg) no-repeat;
}
.btn-list span:hover{  
    background: url(../../../../images/fifa/02-Black.jpg) no-repeat -4px 0;
}
.btn-list span:first-child:hover{  
    background: url(../../../../images/fifa/01-Black.jpg) no-repeat  -4px 0;
    width: 118px;
}
.btn-list span:last-child:hover{  
    background: url(../../../../images/fifa/03-Black.jpg) no-repeat;
}

.btn-list span a{ 
    color: transparent;
    display:block;
    height:24px;
    width:120px;
    font-size:0px; 
} 

.fifa-featured-content{
    margin:0 auto;
    width:950px;
    min-height:200px;

}
.fifa-featured-story{
    width:560px;
    border:2px solid #4f5052;
    padding:30px 20px;
    background:#f3f3f4;
    float:left;
    height:150px;

}
.fifa-featured-story img{
    float:left;
    margin-right:20px;
}
.fifa-featured-video{
    width:334px;
    border:1px solid #4f5052;
    float:right;
    -moz-box-shadow:  5px 5px 5px #888;
    -webkit-box-shadow:  5px 5px 5px #888;
    box-shadow:  5px 5px 5px #888;
    height:210px;
}
.featured-vicon{
    background:url(../../../../images/fifa/featured-icon.jpg) no-repeat top right;
    width:129px;
    height:30px;
    float:right;
    margin-top: -30px;
    margin-right: -1px;
}
.featurd-headline{
    margin:10px; 

}
.featurd-headline a{
    font-family:Arial, Helvetica, sans-serif;
    font-size:24px;
    font-weight:bold;
    color:#272727;
    text-decoration:none;
    text-transform:uppercase;
}
.fifa-morelink{
    clear:both;
    display:block;
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
    float:right;
    margin-right:20px; 
    color:#272727;
    font-weight:bold;
    text-decoration:none;
}
.fifa-morelink:hover{ 
    color:#464648;
    text-decoration:underline;
}
.middle-sponsor{
    height:60px;
    width:100%;
    background:#000; 
    border:1px solid #000;
}
.middle-content{
    height:50px;
}
.strip-line{
    border-bottom:10px solid #ed1c24;
}
.fifa-content2{
    min-height:750px;
    margin:0 auto;
    background:url(../../../../images/fifa/bg2.jpg) no-repeat top;
}


.floatl{
    float:left;
}
.floatr{
    float:right;
}
.fifa-content-stories{
    width:950px;	
    margin:0 auto;
}
.fifa-content-left{
    width:690px;	
    float:left;
    min-height:500px;
    margin:30px 40px 0 0px
}
.fifa-content-right{
    width:220px;	
    float:right;
    min-height:500px;
    background:#00808d;
    margin:30px 0px 0 0px
}
.sponsor-adverrtise{
    width:468px;
    height:40px;
    background:#00808d;	
}
.fifa-stories{
    width:100%;
}
.stories-line{
    border-top:1px solid #000;
    margin:20px 0 0 0;	
}
.fifa-stories-list{
    float:left;
    width:435px; 
}
.fifa-column-list{
    float:right;
    width:220px;
    min-height:600px;
    margin-top:20px;
    -moz-box-shadow:  5px 5px 5px #888;
    -webkit-box-shadow:  5px 5px 5px #888;
    box-shadow:  5px 5px 5px #888;
    border:1px solid #000;
    padding-bottom:10px;
}
.stories-list li{
    width: 202px;
    list-style-type: none;
    height: 182px;
    overflow: hidden;
    margin-bottom: 30px;		
}
.stories-list li img{
    width:192px;
    height:128px;
    overflow:hidden;
    -moz-box-shadow:  5px 5px 5px #888;
    -webkit-box-shadow:  5px 5px 5px #888;
    box-shadow:  5px 5px 5px #888;
    border:1px solid #000;
}
.fodd{
    float:left;
}
.feven{
    float:right;	
}
.stories-list .stories-headline a{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#2f2f2f;
    text-decoration:none;
}
.stories-list a.fifa-morelink{
    font-size: 12px;
    color: #fff;
}
.fs-excerpt{
    position: absolute;
    margin-top: -195px;
    width:183px;
    background: rgba(0, 0, 0, 0.57);
    padding: 5px;
    color: #fff;
    height: 120px;
    display:none;
}
.fs-excerpt p{
    padding: 5px 0;
    margin: 0px;
}
.column-content{
    margin: 0 auto;
    width: 168px;
    margin-top: 10px;
    background: #000;
    color: #fff;
}

.featurd-column-lbl{
    background: #000;
    padding: 10px 0;
    margin: 0 auto;
    text-align: center;
}
.featurd-column-lbl a{
    color: #fff;
    font-family: arial;
    display:block;
}
.featurd-column-lbl a, a.fifa-link{
    text-decoration:none;	
}
.featurd-column-lbl a:hover, .column-headline a:hover, .stories-list .stories-headline a:hover, .star-bio  a.star-name:hover, a.fifa-link:hover{
    text-decoration:underline;
}
.author-name{
    margin: 0px;
    text-align: center;
    padding: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.column-list li{
    margin: 0 auto;
    width: 168px;

}	
.column-list li{
    list-style-type:none; 
}
.column-headline a{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#2f2f2f;
    text-decoration:none;
}
.todays-star-content{
    width:100%;
    min-height:190px;
    background:#00808d;	
}
#stars-list{
    padding:20px;	
}
.stars-list li{
    width:220px;
    height:250px;
    overflow:hidden;
    float:left; 
    list-style-type:none;
    padding:0px 14px;
}
.stars-list li:last-child{
    padding-right:0px;
}
.stars-list li img{
    width:200px;
    height:220px;
    overflow:hidden; 
    border:5px solid #fff;
}
.stars-box-lbl{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.video-picon {
    background: url("../../../../images/fifa/vbtn2.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    height: 32px;
    margin-left: 78px;
    margin-top: 50px;
    position: absolute;
    width: 32px;
}

.star-bio{
    position: absolute;
    margin-top: -200px;
    margin-left: 20px;
    background: rgba(0, 0, 0, 0.63);
    color: #fff;
    width: 150px;
    padding: 7px;
    font-size: 13px;
    min-height: 170px;
    display:none;			

}
.star-bio  .fifa-morelink{
    clear:both;
    display:block;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    float:right;
    margin-right:20px; 
    color:#fff; 
    text-decoration:none;
}
.star-bio  .star-name{
    display:block;
    font-size:18px;
    color:#fff;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration:none;
}	

#sopnsor-partners{
    margin-top:30px;
    border:0px;
    height:auto;
}
.sopnsor-partners-content span{
    color: #fff;
    font-size: 16px;
    font-family: arial;
    margin-top: 15px;
    position: absolute;
    font-style: italic;
    margin-left: 20px;

}
/*#btn-list li:first-child a{ 
        background-image: url(../../../../images/01 White.png)  no-repeat ;
         background-repeat: no-repeat;
        background-position: 0 .5em; 

}*/
/*#btn-list li a{
        background: url(../../../../images/02 White.png)  no-repeat ;
}*/
/*#btn-list li:last-child a{
        background-image: url(../../../../images/03 White.png)  no-repeat ;
         background:url(../../../../images/03 White.png) no-repeat top right; 
}
*/





.fifa-fotter-row{
    margin: 0px auto;text-align: center;background:#000;padding: 20px 0;
}
.fifa-fotter-row a,  .fifa-fotter-row p{ color:#fff;}
.sscrollToTop{ cursor:pointer;}