@font-face {
      font-family: "Steelfish Outline";
      src: url("/styles/fonts/steelfish/steelfish-outline.ttf");      
    }
	@font-face {
      font-family: "Steelfish Rg";
      src: url("/styles/fonts/steelfish/steelfish-rg.otf");      
    }
	@font-face {
      font-family: "Steelfish Rg it";
      src: url("/styles/fonts/steelfish/steelfish-rg-it.ttf");      
    }
	
	
    @font-face {
      font-family: "Aliquam";
      src: url("/styles/fonts/aliquam/Aliquam_0.ttf");      
    }@font-face {
      font-family: "Aliquam Rg";
      src: url("/styles/fonts/aliquam/AliquamREG_0.ttf");      
    }@font-face {
      font-family: "Aliquam Rit";
      src: url("/styles/fonts/aliquam/AliquamRit_0.ttf");      
    }@font-face {
      font-family: "Aliquam ulti";
      src: url("/styles/fonts/aliquam/Aliquamulti_0.ttf");      
    }
	
	
	
	@font-face {
      font-family: "SolaimanLipi";
      src: url("/styles/fonts/aliquam/SolaimanLipi_20-04-07.ttf");      
    }
	
	
	
	@font-face {
	  font-family: 'Bree Serif';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Bree Serif'), local('BreeSerif-Regular'), url(http://themes.googleusercontent.com/static/fonts/breeserif/v3/LQ7WLTaITDg4OSRuOZCpsxsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
	}
	
	@font-face {
	  font-family: 'Open Sans';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
	}
	
	
	
	
	.f1 { font-family: "Steelfish Outline" !important}
    /*.f2 { font-family: "Steelfish Rg" !important}*/
    .f2 { font-family: "Bree Serif", "SolaimanLipi" !important}
    .f3 { font-family: "Steelfish Rg it" !important}
    .f4 { font-family: "Aliquam" !important}
    .f5 { font-family: "Aliquam Rg" !important}
    .f6 { font-family: "Aliquam Rit" !important}
    .f7 { font-family: "Aliquam ulti" !important}