.responsive_height > .container {
    display : none;
}
#content-wrapper {
    margin-bottom: 0 !important;
}
.icc-quiz-start-screen-stage-text{
    color: #fff;
    font-size: 50px;
    position: absolute;
    text-align: center;
    top: 370px;
    width: 45%;
}
.quiz-cointainer {
    background: url("/styles/layouts/tdsfront/image/icc-quiz-bg.jpg") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
}
header.champs-header {
    margin-top: -22px;
}
.icc-quiz-top-header {
    float: left;
    margin: 0 auto;
    text-align: center;
    width: 50%;
}
.icc-quiz-top-header img {
    width: 50%;
}
.icc-quiz-logo-wrapper {
    position: absolute;
    top: -70px;
    width: 35%;
}
.icc-quiz-logo-wrapper img {
    width: 100%;
}
.icc-quiz-jersey-wrapper {
    position: absolute;
    right: -140px;
    top: 0;
    width: 60%;
}
.icc-quiz-jersey-wrapper img {
    width: 87%;
}
.cann_play{
    color: #DC3131;
}
.score-board-summary {
    background: url("/styles/layouts/tdsfront/image/quiz-score-board.png") no-repeat scroll 0 0 / 80% 100% rgba(0, 0, 0, 0);
    min-height: 400px;
    margin-top: 0;
}
.score-board-header{
    color: #fff;
    font-size: 30px;
    padding: 20px 0 0;
    text-align: center;
    text-shadow: 1px 1px 0.5px #ddd;
    width: 80%;
}
.score-board-summary-text{
    margin-top: 35px;
    padding: 10px 10px 15px 40px;
    width: 80%;
}
.icc-quiz-start-screen-text {
    bottom: 45;
    padding-left: 250px;
    position: absolute;
    width: 85%;
}
.icc-quiz-start-screen-text p {
    color: #fff;
    font-size: 18px;
    line-height: 1;
}
.icc-quiz-start-screen-wrapper {
    
}
#icc-quiz-content {
    display: none;
}
#icc-quiz-start-play-screen {
    display: none;
    float: left;
    width: 100%;
}
.icc-quiz-play-2 {
    background: url("/styles/layouts/tdsfront/image/quiz-play-2.png") no-repeat scroll 0 0 / 80% 100% rgba(0, 0, 0, 0);
    border: medium none;
    min-height: 60px;
    width: 49%;
}
.icc-quiz-play-2:hover {
    background: url("/styles/layouts/tdsfront/image/quiz-play-2-hover.png") no-repeat scroll 0 0 / 80% 100% rgba(0, 0, 0, 0);
}

.icc-quiz-rules {
    background-color: #8e3382;
    border: medium none;
    border-radius: 10px;
    color: #fff;
    float: right;
    font-size: 25px;
    padding: 9px 10px;
    width: 40%;
    
    box-shadow: 0 4px 0 0 #35042c;
    -moz-box-shadow: 0 4px 0 0 #35042c;
    -webkit-box-shadow: 0 4px 0 0 #35042c;
    -ms-box-shadow: 0 4px 0 0 #35042c;
    -o-box-shadow: 0 4px 0 0 #35042c;
}
.icc-quiz-rules:hover{
    background-color: #5D9B2F;
    box-shadow: 0 4px 0 0 #284E0B;
    -moz-box-shadow: 0 4px 0 0 #284E0B;
    -webkit-box-shadow: 0 4px 0 0 #284E0B;
    -ms-box-shadow: 0 4px 0 0 #284E0B;
    -o-box-shadow: 0 4px 0 0 #284E0B;
    
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}
.icc-quiz-rules-wrapper {
    display: none;
}
.icc-logo {
    float: left;
    margin-left: 30px;
    margin-top: 100px;
    width: 20%;
}
.icc-jersey {
    float: left;
    margin-left: 30px;
    margin-top: 100px;
    width: 20%;
}
.icc-jersey img {
    width: 90%;
}
.icc-quiz-game-over {
    display: none;
    width: 100%;
}
.icc-quiz-game-over-header {
    color: #fff;
    font-size: 50px;
    margin: 5px auto 0;
    text-align: center;
    width: 50%;
}
.score-board-summary-wrapper {
    float: left;
    padding-left: 5px;
    width: 35%;
}
.grand-score-board-summary {
    margin-top: 0;
    text-align: center;
}
.grand-score-board-header {
    color: #fff;
    font-size: 30px;
    padding: 20px 0 10px;
}
.grand-score-board-summary-text {
    color: #ffd519;
    font-size: 65px;
    margin: 0;
    padding: 0;
}
.score-add-to-school {
    background-color: #5198c2;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 80%;
}
.school-position {
    background-color: #E6E6E6;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 80%;
}
.score-add-to-school:hover {
    background-color: #F7921E;
    color: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.school-position:hover {
    background-color: #F7921E;
    color: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.level-status{
    background-color: #000;
    border-radius: 25px;
    color: #fff;
    float: right;
    text-align: center;
    width: 100px;
}
.invite-friends {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.invite-friends img {
    float: left;
    width: 25%;
    margin-right: 10px;
}
.invite-friends p {
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.75px;
    line-height: 0.8;
    text-align: left;
}
.replay-wrapper {
    float: left;
    margin-top: 60px;
    padding-left: 5px;
    text-align: center;
    width: 30%;
}
.replay-wrapper img {
    width: 45%;
}

.icc-quiz-btn-wrapper{
    margin: 0 auto;
    width: 52%;
    cursor: pointer;
}
.icc-quiz-btn-wrapper button {
    background: url("/styles/layouts/tdsfront/image/icc-quiz-play-glow.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    border: medium none;
    margin-top: 0;
    min-height: 600px;
    width: 85%;
    cursor: pointer;
}
#assess_ladder_board {
    display: none;
}
#assessment-popup-wrapper{
    border-bottom: 3.5px solid #db3434;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
}
.assessment-popup-header{
    background-color: #242021;
    height: 45px;
    position: relative;
    width: 100%;
}
.assessment-popup-header-label {
    color: #ffffff;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    text-align: center;
    width: 90%;
}
.assessment-popup-icon-wrapper{
    left: 15px;
    position: absolute;
    top: 15px;
}
.assessment-popup-body{
    padding: 40px 20px 50px;
}
.assessment-popup-btn-wrapper {
    padding: 0 30px 0 20px;
    text-align: center;
    width: 80%;
}
#icc-quiz-start-screen {
    cursor: pointer;
    position: relative;
    width: 100%;
}
.icc-quiz-start-screen-player {
    bottom: 0;
    position: absolute;
    right: 0;
    width: 20%;
}
.icc-quiz-start-screen-player img {
    width: 100%;
}
.icc-quiz-start-screen-stamp {
    bottom: 0;
    left: 110px;
    position: absolute;
    width: 15%;
}
.icc-quiz-start-screen-stamp img {
    width: 100%;
}
.assessment-save-score-wrapper {
    padding-left: 0;
    text-align: center;
    width: 80%;
}
#assessment_topic{
    color: #FED519;
}
#assessment_topic:after{
    padding-left: 10px;
    content: "|";
    color: #ccc;
}
.ques_id {
    padding-left: 50px;
}
.post #content a
{
    margin-bottom: 0px;
    margin-right: 0px;
}
.content-post {
    margin-top: 10px;
}
.inner-container {
    background: none repeat scroll 0 0 transparent;
    border: none;
    float: left;
    padding: 0 30px;
    width: 100%;
}
.fancybox-wrap {
    top: 50px !important;
}
.add-wrapper-top{
    padding: 20px 0 10px;
    width: 100%
}
.add-wrapper-top img{
    width: 100%
}
.add-wrapper-bottom{
    padding: 20px 0 10px;
    width: 100%
}
.add-wrapper-bottom img{
    width: 100%
}
.inner-container .question {
    font-size: 20px;
}
.ques_no{
    color: #fed519;
}
.ques_no:after{
    padding-left: 10px;
    content: "|";
    color: #ccc;
}
.ques_text {
    color: #fff;
}
.social-bar {
    border: none;
    float: right;
}
.ques_text:before{
    padding-left: 5px;
    content: " ";
}
.answer-wrapper {
    margin: auto;
    width: 95%;
}
.answer-wrapper ul {

}
.answer-wrapper ul li {
    background-color: #fed519;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    float: left;
    margin: 10px;
    min-height: 75px;
    text-align: center;
    width: 33%;
}
.answer-wrapper ul li:hover {
    background-color: #FFFDDC;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}
.opt-wrapper {
    padding: 10px 0 0;
    position: relative;
}
.opt-wrapper .opt-num {
    float: left;
    font-weight: bold;
    padding: 2px 0 25px;
    width: 50px;
}
.opt-wrapper .opt-ans{
    position: relative;
}
.opt-wrapper .opt-ans p {
    color: #000;
    text-align: left;
}
.opt-wrapper .opt-ans img {
    height: 40%;
    float: left;
    margin-right: 5px;
}

.assessment-next-previous {
    float: right;
    width: 11.5%;
    margin-right: 55px;
}
.assessment-previous {
    background-color: #bfc3c6;
    cursor: pointer;
    float: left;
    margin: auto;
    padding: 15px;
}
.assessment-previous-arrow {
    border-color: transparent #ffffff transparent transparent;
    border-style: solid;
    border-width: 10px 20px 10px 0;
    height: 0;
    margin: auto;
    width: 0;
}
.assessment-next {
    background-color: #bfc3c6;
    cursor: pointer;
    float: right;
    margin: auto;
    padding: 15px;
}
.assessment-next-arrow {
    border-color: transparent transparent transparent #ffffff;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    height: 0;
    margin: auto;
    width: 0;
}
.assessment-next:hover, .assessment-previous:hover {
    background-color: #DC3434;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}
.assessment-submit {
    display: block;
    left: 55px;
    top: -90px;
}
.purple:hover{
    background-color: #60cb97;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}
.purple {
    background-color: #8e3382;
    border: medium none;
    border-radius: 10px;
    color: #fff;
    font-size: 35px;
    height: 65px;
}

#assessment_explanation{
    float: left;
    width: 49%;
}
#assessment_next{
    float: none;
    width: 49%;
}

/* Flip Clock Overwrite */
.flip-clock-wrapper {
    margin: 10px 5px;
}
.flip-clock-wrapper ul {
    background: none repeat scroll 0 0 #fff;
    border-radius: 6px;
    float: left;
    font-size: 13px;
    font-weight: bold;
    height: 55px;
    line-height: 87px;
    margin: 20px 5px 5px;
    position: relative;
    width: 40px;
}
.flip-clock-wrapper ul li {
    height: 100%;
    left: 0;
    line-height: 53px;
    position: absolute;
    text-decoration: none !important;
    top: 0;
    width: 100%;
    z-index: 1;
}
.flip-clock-dot.top {
    top: 30px;
}
.flip-clock-dot.bottom {
    bottom: 35px;
}
.flip-clock-divider.seconds .flip-clock-label {
    right: -75px;
    top: -2px;
}
.flip-clock-divider.minutes .flip-clock-label {
    right: -75px;
    top: -2px;
}
.flip-clock-wrapper .flip {
    box-shadow: 0 2px 5px #bbb;
}
.flip-clock-wrapper ul li a div div.inn {
    background-color: #db3434;
    color: #fff;
    font-size: 45px;
    text-shadow: 0 1px 2px #777;
}
.flip-clock-dot {
    background: none repeat scroll 0 0 #db3434;
    box-shadow: 0 0 2px #888;
}
/* Flip Clock Overwrite */

/* Assessment Leader Board */
.ladder_board_title{
    color: #dc3131;
    font-size: 25px;
    font-weight: bold;
    padding: 0 0 10px;
    text-align: center;
}
#pre_assessment_details {
    float: left;
    margin-top: 42px;
    padding-left: 5px;
    width: 35%;
}
.full_leader_board_wrapper {
    float: none !important;
    height: 462px;
    overflow: scroll !important;
    width: 100% !important;
}
#leader_board {
    width: 65%;
    float: left;
}
#leader_board .individual {
    float: left;
    margin-top: 60px;
    width: 50%;
}
#leader_board .school {
    float: left;
    margin-top: 60px;
    width: 50%;
}
.leader_board_header {
    color: #fed519;
    float: left;
    font-size: 35px;
    margin-bottom: 50px;
    text-shadow: 1px 1px 1px #fed519;
    width: 100%;
}
.leader_board_content {

}
.leader_board_content ul {
    margin: 0;
    padding: 0;
}
.leader_board_content ul li {
    letter-spacing: 1.75px;
}
.leader_board_content ul li span.user_name {
    color: #fff;
}
.leader_board_content ul li span.mark {
    color: #fed519;
}
.ladder_board_wrapper {
    float: left;
    margin: 10px;
    width: 48%;
}
#leader_board table{
    width: 100%;
}
#leader_board table img{
    float: left;
    margin-right: 8px;
    width: 50px;
}
#leader_board table th{
    border-bottom: 1px solid #ddd;
    color: #666;
}
#leader_board table thead tr th:first-child{
    width: 65%;
}
#leader_board table thead tr th:nth-child(2){
    width: 35%;
}
#leader_board table td {
    color: #666;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}
#leader_board table td:nth-child(2) {
    text-align: center;
}
.ladder_board_user_name {
    font-size: 14px;
    font-weight: bold;
}
.ladder_board_mark {
    font-size: 25px;
    margin-bottom: 5px;
}
.ladder_board_time {
    color: #999;
    font-size: 14px;
}
.ladder_board_school_name {
    color: #777;
    font-family: georgia;
    font-size: 11px;
}
/* Assessment Leader Board */

/* Assessment Leader summary */
.assess_summary_wrapper {
    height: 302px;
    overflow: scroll;
}
#assess_summary table{
    width: 100%;
}
#assess_summary table img{
    width: 30px;
}
#assess_summary table th{
    border-bottom: 1px solid #ddd;
    color: #666;
}
#assess_summary table thead tr th:first-child{
    width: 40%;
}
#assess_summary table thead tr th:nth-child(2){
    width: 5%;
}
#assess_summary table thead tr th:nth-child(3){
    width: 22%;
}
#assess_summary table thead tr th:nth-child(4){
    width: 33%;
}
#assess_summary table thead tr td:nth-child(2){
    text-align: center;
    vertical-align: middle;
}
#assess_summary table td {
    color: #666;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}
#assess_summary table td:nth-child(2) {
    text-align: center;
}
/* Assessment Leader summary */

/* Fancybox */
.fancybox-close {
    display: none;
}
/* Fancybox */

/* Invite Friends */
.friends-fb  {
    background-color: #4862a3;
    border: 1px solid #ddd;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    float: left;
    margin-right: 5px;
    padding: 10px 5px;
    text-align: center;
    width: 55%;
}
.friends-fb:hover {
    background-color: #ccc;
    color: #000;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}
.friends-email {
    background-color: #DC3131;
    border: 1px solid #ddd;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    float: right;
    margin-right: 5px;
    padding: 10px 5px;
    text-align: center;
    width: 40%;
}
.friends-email:hover {
    background-color: #ccc;
    color: #000;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.friends-email-invite {
    background-color: #DC3131;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 5px;
    text-align: center;
    width: 50%;
}
.friends-email-invite button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    text-align: center;
    width: 100%;
}
.friends-email-invite:hover {
    background-color: #ccc;
    color: #000;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}
.friends-email label {
    
}
.friends-email input {
    
}
/* Invite Friends */

/* Animate Play Button */
.element-animation{
  animation: animationFrames ease-out 1.5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 0%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: animationFrames ease-out 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 0%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: animationFrames ease-out 1.5s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 0%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: animationFrames ease-out 1.5s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 0%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: animationFrames ease-out 1.5s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 0%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes animationFrames{
  0% {
    transform:  rotate(0deg) ;
  }
  20% {
    transform:  rotate(15deg) ;
  }
  40% {
    transform:  rotate(-10deg) ;
  }
  60% {
    transform:  rotate(5deg) ;
  }
  80% {
    transform:  rotate(-5deg) ;
  }
  100% {
    transform:  rotate(0deg) ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    -moz-transform:  rotate(0deg) ;
  }
  20% {
    -moz-transform:  rotate(15deg) ;
  }
  40% {
    -moz-transform:  rotate(-10deg) ;
  }
  60% {
    -moz-transform:  rotate(5deg) ;
  }
  80% {
    -moz-transform:  rotate(-5deg) ;
  }
  100% {
    -moz-transform:  rotate(0deg) ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform:  rotate(0deg) ;
  }
  20% {
    -webkit-transform:  rotate(15deg) ;
  }
  40% {
    -webkit-transform:  rotate(-10deg) ;
  }
  60% {
    -webkit-transform:  rotate(5deg) ;
  }
  80% {
    -webkit-transform:  rotate(-5deg) ;
  }
  100% {
    -webkit-transform:  rotate(0deg) ;
  }
}

@-o-keyframes animationFrames {
  0% {
    -o-transform:  rotate(0deg) ;
  }
  20% {
    -o-transform:  rotate(15deg) ;
  }
  40% {
    -o-transform:  rotate(-10deg) ;
  }
  60% {
    -o-transform:  rotate(5deg) ;
  }
  80% {
    -o-transform:  rotate(-5deg) ;
  }
  100% {
    -o-transform:  rotate(0deg) ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    -ms-transform:  rotate(0deg) ;
  }
  20% {
    -ms-transform:  rotate(15deg) ;
  }
  40% {
    -ms-transform:  rotate(-10deg) ;
  }
  60% {
    -ms-transform:  rotate(5deg) ;
  }
  80% {
    -ms-transform:  rotate(-5deg) ;
  }
  100% {
    -ms-transform:  rotate(0deg) ;
  }
}
/* Animate Play Button */


@media all and (min-width: 319px) and (max-width: 479px) {
    .iosSlider{
        display: none;
    }
    .icc-quiz-top-header {
        width: 100%;
    }
    .icc-quiz-top-header img {
        width: 100%;
    }
    .quiz-cointainer {
        width: 65%;
        background: url("/styles/layouts/tdsfront/image/icc-quiz-bg.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    }
    .icc-quiz-logo-wrapper {
        position: relative;
        top: -25px;
        width: 100%;
        text-align: center;
    }
    .icc-quiz-btn-wrapper {
        cursor: pointer;
        margin: 0 auto;
        width: 100%;
    }
    .icc-quiz-btn-wrapper button {
        margin-top: 0;
        min-height: 270px;
        width: 100%;
    }
    .icc-quiz-jersey-wrapper {
        position: relative;
        right: 0;
        text-align: center;
        width: 100%;
    }
    .icc-quiz-jersey-wrapper img {
        width: 100%;
    }
    .icc-quiz-start-screen-text {
        bottom: 0;
        padding: 0;
        position: relative;
        width: 100%;
    }
    .icc-quiz-start-screen-text p {
        font-size: 14px;
        line-height: 1.25;
    }
    .icc-quiz-start-screen-player {
        display: none;
    }
    #pre_assessment_details {
        width: 100%;
    }
    #leader_board {
        width: 100%;
    }
    .leader_board_header {
        font-size: 20px;
        margin-bottom: 15px;
        width: 100%;
    }
    .leader_board_content {
        width: 90%;
    }
    .leader_board_content ul li {
        font-size: 14px;
    }
    .ques_id {
        margin-top: -10px;
        padding-left: 0;
    }
    .ques_text {
        font-size: 16px;
    }
    .ques_no {
        font-size: 16px;
    }
    .social-bar {
        float: left;
        margin: 0;
        padding: 0;
    }
    .opt-wrapper {
        padding: 0;
    }
    .answer-wrapper ul {
        margin: 0;
        padding: 0;
    }
    .answer-wrapper ul li {
        float: none;
        margin: 10px 0;
        min-height: 40px;
        width: 100%;
    }
    .opt-wrapper .opt-num {
        padding: 0;
    }
    .opt-wrapper .opt-ans {
        padding-top: 3px;
    }
    #content p {
        font-size: 14px !important;
        letter-spacing: 1.25px !important;
    }
    .icc-quiz-game-over-header {
        font-size: 35px;
        margin: 5px auto 10px;
        width: 100%;
    }
    .icc-quiz-game-over .score-board-summary-wrapper {
        width: 100%;
    }
    .icc-quiz-game-over .score-board-summary {
        background: url("/styles/layouts/tdsfront/image/quiz-score-board.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
        margin: 0 auto;
        min-height: 350px;
        width: 80%;
    }
    .icc-quiz-game-over .score-board-header {
        font-size: 25px;
        padding: 10px 0;
        width: 100%;
    }
    .icc-quiz-game-over .score-board-summary-text {
        margin-top: 40px;
        padding: 10px;
        width: 100%;
    }
    .icc-quiz-game-over .level-status {
        font-size: 12px;
        width: 80px;
    }
    .icc-quiz-game-over .assessment-save-score-wrapper {
        margin-top: 20px;
        width: 100%;
    }
    .icc-quiz-game-over .purple {
        font-size: 25px;
        height: 50px;
    }
    .icc-quiz-game-over .grand-score-board-header {
        font-size: 25px;
        padding: 20px 0 0;
    }
    .icc-quiz-game-over .grand-score-board-summary-text {
        font-size: 45px;
    }
    .icc-quiz-game-over .score-add-to-school {
        width: 85%;
    }
    .icc-quiz-game-over .school-position {
        width: 85%;
    }
    .icc-quiz-game-over .invite-friends {
        width: 85%;
    }
    .icc-quiz-game-over .invite-friends p {
        padding-top: 15px;
    }
    .icc-quiz-game-over .replay-wrapper {
        clear : both;
        margin: 0;
        padding: 35px;
        width: 100%;
    }
}

@media all and (min-width: 480px) and (max-width: 779px) {
    .iosSlider{
        display: none;
    }
    .icc-quiz-top-header {
        width: 60%;
    }
    .icc-quiz-top-header img {
        width: 100%;
    }
    .quiz-cointainer {
        width: 65%;
        background: url("/styles/layouts/tdsfront/image/icc-quiz-bg.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    }
    .icc-quiz-logo-wrapper {
        float: left;
        position: relative;
        text-align: center;
        top: -40px;
        width: 55%;
    }
    .icc-quiz-btn-wrapper {
        cursor: pointer;
        float: left;
        margin: 0 auto;
        width: 45%;
    }
    .icc-quiz-btn-wrapper button {
        margin-top: 0;
        min-height: 300px;;
        width: 100%;
    }
    .icc-quiz-jersey-wrapper {
        position: relative;
        right: 0;
        text-align: center;
        top: -80px;
        width: 100%;
    }
    .icc-quiz-jersey-wrapper img {
        width: 100%;
    }
    .icc-quiz-start-screen-text {
        bottom: 85px;
        padding: 0;
        position: relative;
        width: 100%;
    }
    .icc-quiz-start-screen-text p {
        font-size: 16px;
        line-height: 1.25;
    }
    .icc-quiz-start-screen-player {
        display: none;
    }
    .score-board-summary {
        background: url("/styles/layouts/tdsfront/image/quiz-score-board.png") no-repeat scroll 0 0 / 90% 85% rgba(0, 0, 0, 0);
    }
    .score-board-header {
        color: #fff;
        font-size: 20px;
        padding: 15px 0 0;
        text-align: center;
        text-shadow: 1px 1px 0.5px #ddd;
        width: 90%;
    }
    .score-board-summary-text {
        margin-top: 50px;
        padding: 5px;
        width: 90%;
    }
    .score-board-summary-text p {
        font-size: 12px;
    }
    #pre_assessment_details {
        padding-left: 0;
    }
    .icc-quiz-play-2 {
        background: url("/styles/layouts/tdsfront/image/quiz-play-2.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
        border: medium none;
        min-height: 60px;
        width: 80%;
    }
    .icc-quiz-play-2:hover {
        background: url("/styles/layouts/tdsfront/image/quiz-play-2-hover.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    }
    .leader_board_header {
        font-size: 25px;
        margin-bottom: 30px;
    }
    .leader_board_content {
        width: 90%;
    }
    .leader_board_content ul li {
        font-size: 14px;
    }
    .ques_id {
        margin-top: -10px;
        padding-left: 0;
    }
    .ques_text {
        font-size: 16px;
    }
    .ques_no {
        font-size: 16px;
    }
    .social-bar {
        float: left;
        margin: 0;
        padding: 0;
    }
    .opt-wrapper {
        padding: 0;
    }
    .answer-wrapper ul {
        margin: 0;
        padding: 0;
    }
    
    @media all and (max-width: 480px) {
        .answer-wrapper ul li {
            float: none;
            margin: 10px 5px;
            min-height: 40px;
            width: 100%;
        }
    }
    
    @media all and (max-width: 779px) {
        .answer-wrapper ul li {
            float: left;
            margin: 10px 5px;
            min-height: 40px;
            width: 48%;
        }
    }
    
    .opt-wrapper .opt-num {
        padding: 0;
    }
    .opt-wrapper .opt-ans {
        padding-top: 3px;
    }
    #content p {
        font-size: 14px !important;
        letter-spacing: 1.25px !important;
    }
    
    .icc-quiz-game-over-header {
        font-size: 35px;
        margin: 5px auto 15px;
        width: 100%;
    }
    .icc-quiz-game-over .score-board-summary-wrapper {
        width: 35%;
        padding-left: 5px;
    }
    .icc-quiz-game-over .score-board-summary {
        background: url("/styles/layouts/tdsfront/image/quiz-score-board.png") no-repeat scroll center center / 90% 100% rgba(0, 0, 0, 0);
        margin: 0;
        min-height: 300px;
        width: 100%;
    }
    .icc-quiz-game-over .score-board-header {
        font-size: 22px;
        padding: 20px 0 0;
        width: 100%;
    }
    .icc-quiz-game-over .score-board-summary-text {
        margin: 60px auto 0;
        padding: 10px;
        width: 90%;
    }
    .icc-quiz-game-over .level-status {
        font-size: 12px;
        width: 80px;
    }
    .icc-quiz-game-over .assessment-save-score-wrapper {
        margin-top: 20px;
        width: 100%;
    }
    .icc-quiz-game-over .purple {
        font-size: 25px;
        height: 50px;
    }
    .icc-quiz-game-over .grand-score-board-header {
        font-size: 25px;
        padding: 20px 0 0;
    }
    .icc-quiz-game-over .grand-score-board-summary-text {
        font-size: 45px;
        margin: 20px auto;
    }
    .icc-quiz-game-over .score-add-to-school {
        width: 100%;
    }
    .icc-quiz-game-over .school-position {
        width: 100%;
    }
    .icc-quiz-game-over .invite-friends {
        width: 100%;
    }
    .icc-quiz-game-over .invite-friends p {
        padding-top: 15px;
    }
    .icc-quiz-game-over .replay-wrapper {
        margin: 50px 0;
        padding: 0;
        width: 30%;
    }
    .icc-quiz-game-over .replay-wrapper img {
        width: 60%;
    }
}

@media all and (min-width: 780px) and (max-width: 899px){
    .quiz-cointainer {
        background: url("/styles/layouts/tdsfront/image/icc-quiz-bg.jpg") no-repeat scroll 0 0 / auto 100% rgba(0, 0, 0, 0);
    }
    .icc-quiz-logo-wrapper {
        position: absolute;
        top: 0;
        width: 40%;
    }
    .icc-quiz-logo-wrapper {
        position: absolute;
        top: 0;
        width: 40%;
    }
    .icc-quiz-btn-wrapper button {
        background: url("/styles/layouts/tdsfront/image/icc-quiz-play-glow.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
        border: medium none;
        cursor: pointer;
        margin-top: 42px;
        min-height: 370px;
        width: 85%;
    }
    .icc-quiz-jersey-wrapper {
        position: absolute;
        right: -100px;
        top: 42px;
        width: 60%;
    }
    .icc-quiz-start-screen-text {
        bottom: 50px;
        padding-left: 130px;
        position: absolute;
        width: 100%;
    }
    .icc-quiz-start-screen-text p {
        font-size: 16px;
        line-height: 1.25;
    }
    .score-board-summary {
        background: url("/styles/layouts/tdsfront/image/quiz-score-board.png") no-repeat scroll 0 0 / 90% 90% rgba(0, 0, 0, 0);
        margin-top: 0;
        min-height: 400px;
    }
    .score-board-header {
        font-size: 25px;
        width: 90%;
    }
    .score-board-summary-text {
        margin-top: 45px;
        padding: 10px;
        width: 100%;
    }
    .score-board-summary-text p {
        font-size: 14px;
    }
    .icc-quiz-play-2 {
        background: url("/styles/layouts/tdsfront/image/quiz-play-2.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
        width: 70%;
    }
    .icc-quiz-play-2:hover {
        background: url("/styles/layouts/tdsfront/image/quiz-play-2-hover.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    }
    .leader_board_header {
        font-size: 28px;
    }
    .leader_board_content {
        width: 95%;
    }
    .leader_board_content ul li {
        font-size: 14px;
    }
    .social-bar {
        float: right;
        margin: 0;
        padding: 0;
    }
    .ques_id {
        padding-left: 0;
    }
    .opt-wrapper {
        padding: 0;
    }
    .answer-wrapper {
        width: 100%;
    }
    .answer-wrapper ul {
        margin: 0;
        padding: 0;
    }
    .answer-wrapper ul li {
        float: left;
        margin: 10px 5px;
        min-height: 40px;
        width: 48%;
    }
    .opt-wrapper .opt-num {
        padding: 5px 0;
        width: 40px;
    }
    .opt-wrapper .opt-ans {
        padding-top: 3px;
    }
    #content p {
        font-size: 14px !important;
        letter-spacing: 1.25px !important;
    }
    
    .icc-quiz-game-over-header {
        font-size: 35px;
        margin: 5px auto 15px;
        width: 100%;
    }
    .icc-quiz-game-over .score-board-summary-wrapper {
        padding-left: 0;
        width: 40%;
    }
    .icc-quiz-game-over .score-board-summary {
        background: url("/styles/layouts/tdsfront/image/quiz-score-board.png") no-repeat scroll center center / 90% 100% rgba(0, 0, 0, 0);
        margin: 0;
        min-height: 300px;
        width: 100%;
    }
    .icc-quiz-game-over .score-board-header {
        font-size: 22px;
        padding: 10px 0 0;
        width: 100%;
    }
    .icc-quiz-game-over .score-board-summary-text {
        margin: 60px auto 0;
        padding: 10px;
        width: 90%;
    }
    .icc-quiz-game-over .level-status {
        font-size: 12px;
        width: 80px;
    }
    .icc-quiz-game-over .assessment-save-score-wrapper {
        margin-top: 20px;
        width: 100%;
    }
    .icc-quiz-game-over .purple {
        font-size: 25px;
        height: 50px;
    }
    .icc-quiz-game-over .grand-score-board-header {
        font-size: 25px;
        padding: 20px 0 0;
    }
    .icc-quiz-game-over .grand-score-board-summary-text {
        font-size: 45px;
        margin: 8px auto;
    }
    .icc-quiz-game-over .score-add-to-school {
        width: 95%;
    }
    .icc-quiz-game-over .school-position {
        width: 95%;
    }
    .icc-quiz-game-over .invite-friends {
        width: 95%;
    }
    .icc-quiz-game-over .invite-friends p {
        padding-top: 15px;
    }
    .icc-quiz-game-over .replay-wrapper {
        margin: 50px 0;
        padding: 0;
        width: 20%;
    }
    .icc-quiz-game-over .replay-wrapper img {
        width: 80%;
    }
}

@media all and (min-width: 900px) and (max-width: 1023px){
    .quiz-cointainer {
        background: url("/styles/layouts/tdsfront/image/icc-quiz-bg.jpg") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    }
    .icc-quiz-logo-wrapper {
        position: absolute;
        top: 0;
        width: 40%;
    }
    .icc-quiz-logo-wrapper {
        position: absolute;
        top: 0;
        width: 40%;
    }
    .icc-quiz-btn-wrapper button {
        background: url("/styles/layouts/tdsfront/image/icc-quiz-play-glow.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
        border: medium none;
        cursor: pointer;
        margin-top: 42px;
        min-height: 370px;
        width: 85%;
    }
    .icc-quiz-jersey-wrapper {
        position: absolute;
        right: -100px;
        top: 42px;
        width: 60%;
    }
    .icc-quiz-start-screen-text {
        bottom: 50px;
        padding-left: 130px;
        position: absolute;
        width: 100%;
    }
    .icc-quiz-start-screen-text p {
        font-size: 16px;
        line-height: 1.25;
    }
    .score-board-summary {
        background: url("/styles/layouts/tdsfront/image/quiz-score-board.png") no-repeat scroll 0 0 / 90% 90% rgba(0, 0, 0, 0);
    }
    .score-board-header {
        padding: 15px 0 0;
        width: 90%;
    }
    .score-board-summary-text {
        margin-top: 25px;
        padding: 20px;
        width: 90%;
    }
    .assessment-popup-btn-wrapper {
        padding-left: 0;
        width: 100%;
    }
    .icc-quiz-play-2 {
        background: url("/styles/layouts/tdsfront/image/quiz-play-2.png") no-repeat scroll 0 0 / 75% 100% rgba(0, 0, 0, 0);
        width: 55%;
    }
    .icc-quiz-play-2:hover {
        background: url("/styles/layouts/tdsfront/image/quiz-play-2-hover.png") no-repeat scroll 0 0 / 75% 100% rgba(0, 0, 0, 0);
    }
    .social-bar {
        float: right;
        margin: 0;
        padding: 0;
    }
    .ques_id {
        padding-left: 0;
    }
    .opt-wrapper {
        padding: 0;
    }
    .answer-wrapper {
        width: 100%;
    }
    .answer-wrapper ul {
        margin: 0;
        padding: 0;
    }
    .answer-wrapper ul li {
        float: left;
        margin: 10px 5px;
        min-height: 40px;
        width: 48%;
    }
    .opt-wrapper .opt-num {
        padding: 5px 0;
        width: 40px;
    }
    .opt-wrapper .opt-ans {
        padding-top: 3px;
    }
    #content p {
        font-size: 14px !important;
        letter-spacing: 1.25px !important;
    }
    
    .icc-quiz-game-over-header {
        font-size: 35px;
        margin: 5px auto 15px;
        width: 100%;
    }
    .icc-quiz-game-over .score-board-summary-wrapper {
        width: 35%;
        padding-left: 5px;
    }
    .icc-quiz-game-over .score-board-summary {
        background: url("/styles/layouts/tdsfront/image/quiz-score-board.png") no-repeat scroll center center / 90% 100% rgba(0, 0, 0, 0);
        margin: 0;
        min-height: 300px;
        width: 100%;
    }
    .icc-quiz-game-over .score-board-header {
        font-size: 22px;
        padding: 20px 0 0;
        width: 100%;
    }
    .icc-quiz-game-over .score-board-summary-text {
        margin: 60px auto 0;
        padding: 10px;
        width: 90%;
    }
    .icc-quiz-game-over .level-status {
        font-size: 12px;
        width: 80px;
    }
    .icc-quiz-game-over .assessment-save-score-wrapper {
        margin-top: 20px;
        width: 100%;
    }
    .icc-quiz-game-over .purple {
        font-size: 25px;
        height: 50px;
    }
    .icc-quiz-game-over .grand-score-board-header {
        font-size: 25px;
        padding: 20px 0 0;
    }
    .icc-quiz-game-over .grand-score-board-summary-text {
        font-size: 45px;
        margin: 8px auto;
    }
    .icc-quiz-game-over .score-add-to-school {
        width: 100%;
    }
    .icc-quiz-game-over .school-position {
        width: 100%;
    }
    .icc-quiz-game-over .invite-friends {
        width: 100%;
    }
    .icc-quiz-game-over .invite-friends p {
        padding-top: 15px;
    }
    .icc-quiz-game-over .replay-wrapper {
        margin: 50px 0;
        padding: 0;
        width: 30%;
    }
    .icc-quiz-game-over .replay-wrapper img {
        width: 60%;
    }
}

@media all and (min-width: 1024px) and (max-width: 1279px){
    .quiz-cointainer {
        background: url("/styles/layouts/tdsfront/image/icc-quiz-bg.jpg") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    }
    .icc-quiz-start-screen-text {
        bottom: 50px;
        padding-left: 130px;
        position: absolute;
        width: 100%;
    }
    .icc-quiz-start-screen-text p {
        font-size: 16px;
        line-height: 1.25;
    }
    .social-bar {
        float: right;
        margin: 0;
        padding: 0;
        width: 35%;
    }
    .ques_id {
        margin-top: 0;
        padding-left: 0;
    }
    .ques_text {
        font-size: 16px;
    }
    .ques_no {
        font-size: 16px;
    }
    .social-bar {
        float: right;
        margin: 0;
        padding: 0;
    }
    .opt-wrapper {
        padding: 0;
    }
    .answer-wrapper ul {
        margin: 0;
        padding: 0;
    }
    .answer-wrapper ul li {
        float: left;
        margin: 10px;
        min-height: 40px;
        width: 48%;
    }
    .opt-wrapper .opt-num {
        padding: 0;
    }
    .opt-wrapper .opt-ans {
        padding-top: 3px;
    }
    
    .icc-quiz-game-over-header {
        font-size: 35px;
        margin: 5px auto 15px;
        width: 100%;
    }
    .icc-quiz-game-over .score-board-summary-wrapper {
        width: 35%;
        padding-left: 5px;
    }
    .icc-quiz-game-over .score-board-summary {
        background: url("/styles/layouts/tdsfront/image/quiz-score-board.png") no-repeat scroll center center / 90% 100% rgba(0, 0, 0, 0);
        margin: 0;
        min-height: 300px;
        width: 100%;
    }
    .icc-quiz-game-over .score-board-header {
        font-size: 22px;
        padding: 20px 0 0;
        width: 100%;
    }
    .icc-quiz-game-over .score-board-summary-text {
        margin: 60px auto 0;
        padding: 10px;
        width: 90%;
    }
    .icc-quiz-game-over .level-status {
        font-size: 12px;
        width: 80px;
    }
    .icc-quiz-game-over .assessment-save-score-wrapper {
        margin-top: 20px;
        width: 100%;
    }
    .icc-quiz-game-over .purple {
        font-size: 25px;
        height: 50px;
    }
    .icc-quiz-game-over .grand-score-board-header {
        font-size: 25px;
        padding: 20px 0 0;
    }
    .icc-quiz-game-over .grand-score-board-summary-text {
        font-size: 45px;
        margin: 20px auto;
    }
    .icc-quiz-game-over .score-add-to-school {
        width: 100%;
    }
    .icc-quiz-game-over .school-position {
        width: 100%;
    }
    .icc-quiz-game-over .invite-friends {
        width: 100%;
    }
    .icc-quiz-game-over .invite-friends p {
        padding-top: 15px;
    }
    .icc-quiz-game-over .replay-wrapper {
        margin: 50px 0;
        padding: 0;
        width: 30%;
    }
    .icc-quiz-game-over .replay-wrapper img {
        width: 60%;
    }
}