
    .ticker-wrapper.has-js {
        -webkit-border-radius: none;
        -moz-border-radius: none;
        border-radius:none;
        background-color: #FFFFFF;
        margin:0px;
        padding: 0px;
        font-size: 14px;
        font-family: Arial;

        height: 30px;
        width: 690px;               
    }
    .ticker {

/*        border: 1px solid red;*/
        background-color: #FFFFFF;
        float: left;
        height: 25px;
/*        left: 10px;*/

    }
    
    .ticker  a {
        color: #666666;
        font-size: 14px;
        font-weight: normal;
    }
    
    .ticker  a:hover{
      color: #666666;  
    }

    .ticker-title {

        background-color: #069BC5;
        padding: 5px;

    }
    
    .ticker-title span 
    {
        font-size: 11px; 
        color: #FFFFFF !important;

    }

    .ticker-content {
        background-color: #FFFFFF;
    }  

    .ticker-swipe {
        background-color: #FFFFFF; 
    }           


    .ticker-controls { display: none; }

    #ticker-content-1379330814121 {
        background: #FFFFFF;
    }

    .ticker-swipe span {
        background-color: #FFFFFF;
    }   