<label for="title">Student</label>
<div class="text-input-bg">
    <%= select :suspension, :student_id,@students.map {|b| [b.class_roll_no.to_s+"-"+b.full_name+" ( "+b.number_of_detention.to_s+" ) ", b.id] } %>
</div>