.ch_book_wrapper
{
    float: left;
    width: 95%;
    background-color: #fff;
    padding:30px; 
    border:1px solid #CCC;
}
.submit_button {
    margin-top:10px;
    margin-left:210px;
    padding: 7px 10px;
    color: #fff;
    background: #db3434;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #7e0000;
}
.search_form{
    width:500px;
   margin:auto;
}
.tag{
    height:auto;
    margin-bottom:8px;
}
.tag_list{
    width:400px;
    float:left;
    font-size:13px;
}

.label-field-pair-checkbox input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 20px;
    height:17px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}
.necessary-field {
    color: #FF0000;
    font-size: 1.1em;
}
