.ch_book_wrapper
{
    float: left;
    width: 95%;
    background-color: #fff;
    padding:30px; 
    border:1px solid #CCC;
}
.name{
    color: #999999;
    float: left;
    width: 160px;
    font-size: 14px;
}

.val {
    width:auto;
    font-size: 12pt;
    font-family: arial;
}

.val span{
    margin-right:12px;
    color: black;
    float:left;
}
.submit_button {
    padding: 7px 10px;
    color: #fff;
    background: #db3434;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin: 0 auto;
    text-decoration: none;
    float:left;
}
.submit_button:hover{
    background:  #7e0000;
}
.reserve_button {
    padding: 7px 10px;
    color: #fff;
    background: #db3434;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin: 0 auto;
    margin-right:20px;
    text-decoration: none;
    float:left;
}
.reserve_button:hover{
    background:  #7e0000;
}
.links{
    width:540px;
    margin:auto;
    padding-top:30px;
    clear:both;
}
.detail_box{
    width:950px;
    margin:auto;
}
#book_reserve{
    margin-top:40px;
}
#book_reserve p{
     font-weight:bold;
}

.borrowed{
    width:530px;
    margin:auto;
}

.reserved-by{
    font-weight: bold;
    color: #bb0000;
    height:36px;
}
span.row_{
    float:left;
    width:440px;
}
.val .taglist{
    width:240px;
    word-wrap: break-word;
  }
.reserved-by-h{
    display: block;
    float: left;
    padding-right: 20px;
}
#reserved-by{
    display: block;
    width: 865px;
}
#reserved-by p{
    font-size: 14pt;
    font-weight: normal;
    margin: 3px;
    padding-left: 250px;
}
.reserved-time{
    color:#000;
    font-size: 14px;
}
#reserved-by a{
    text-decoration: none;
}
