
<table id="pdf-table" class="center-header header-table" width="100%" cellspacing="0">
    <tr><td width="10%">
            <% if MultiSchool.current_school.id == 352 %>
              <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/352/logo-sagc.png")),:width=> '85%' %>

            <% else %>
              <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ current_school_detail.logo.url),:width=> '85%' %>
            <% end %>
        </td>
        <td width="90%" style="vertical-align:top;">
            <font size="6"><b><%=Configuration.get_config_value('InstitutionName'); %></b></font><br/><br/>
            <font size="5">Dhaka Cantonment, Dhaka-1206</font><br/>
            <font size="5">Phone:9833306 web: www.sagc.edu.bd</font>
        </td>
    </tr>     
</table>

<style>
  #page-yield table.header-table
  {
      border: none !important;
  }
    
</style>
   