<div id="pdf-footer">

      <table id="listing table-design"  width="100%"  style="margin-top:10px;">
          <thead>          

              <tr>
                  <td class="">
                      Address: House no: 5, Road no: 2, Block: C, Mirpur-2
                  </td>

                  <td class="">
                      Web: www.orchidintschool.com
                  </td>
              </tr>
              <tr>
                  <td class="">
                      Contact: 01625905083, 01712665157
                  </td>

                  <td class="">
                      e-mail: oisd.edu@yahoo.com
                  </td>
              </tr>

      </table>
  </div>