<div id="pdf-footer">

      <table id="listing table-design"  width="100%"  style="margin-top:10px;">
          <thead>          

              <tr>
                  <td class="">
                      <br/><br/>
                      <%= "---------------------------------------------------------------" %><br />
                      <font size='5'><%= "Prepared By" %></font>
                  </td>

                  <td class="">
                      <br/><br/>
                      <%= "---------------------------------------------------------------" %><br />
                      <font size='5'><%= "Authorized Signature" %></font>
                  </td>
          </tr>

      </table>
  </div>
