<div id="pdf-header-south" class="sfx-header" style="width: 900px; text-align: center;">
    <table style="width: 50%; margin: 0 auto;">
        <tr>
            <td>
                <% if MultiSchool.current_school.id == 352 %>
                  <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/352/sagc_logo.png")),:width=> '60%',:style=>"margin-left: 20%; margin-top: 10%;" %>
                <% else %>
                  <% if File.exists?("/"+("#{Rails.root}/"+ ("public/images/school_logo/#{MultiSchool.current_school.id}/logo.png"))) %>
                    <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/#{MultiSchool.current_school.id}/logo.png")),:width=> '95%' %>
                  <% else %>
                    <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public" + current_school_detail.logo.url.to_s.gsub(/\?.*/, ''))),:width=> '95%' %>
                  <% end %>
                <% end %>
              <%#= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ (current_school_detail.logo.path||"public/images/application/c.png")),:width=> '40px' %>
            </td>
            <td>
              <h2 align="center"><%=Configuration.get_config_value('InstitutionName'); %></h2>
            </td>
        </tr>
    </table>
    
</div>

<style>
  #pdf-header-south h4.line-height-10
  {
     line-height: 15px !important;
  }
</style>







