<div id="pdf-footer">

      <table width="100%" >
          <thead>          

              <tr>
                  <td style='text-align:left'>
                      <font size="4">Address: House no: 5, Road no: 2, Block: C, Mirpur-2&nbsp;&nbsp;&nbsp;Web: www.orchidintschool.com&nbsp;&nbsp;&nbsp;Contact: 01625905083, 01712665157&nbsp;&nbsp;&nbsp;e-mail: oisd.edu@yahoo.com</font>
                  </td>
              </tr>
              <tr>
                  <td  style='text-align:left'>
                      
                  </td>
              </tr>

      </table>
  </div>