table#listing td.col-4 {
    width:20%;
}
.user_button
{
    margin-top:30px;
    margin-left:320px;
}
.likhon
{
    width: 100%;
    height: 100px;
    background-color: red;
}
.ch_homework
{
    float:left;
    width: 100%;
    position:relative;
    padding:0px;
}
.ch_homework li
{
    display: block;
    float: left;
    width: 30%;
    margin-bottom: 30px;    
    padding: 10px 13px 0;
}
.ch_homework_content
{
    background: #fff;
    padding: 15px;
    border-bottom:3px solid #db3434
}
.ch_homework_content div a
{
    font-size: 20px;
    text-decoration: none;
    color:#999;
}
.ch_homework_content div a:hover
{
    color:#db3434;
}
