#content-header img {
    margin: 0;
    padding: 2px;
}
.box{
    margin-right: 10px;
}
.sl_no{
    width: 10%;
    padding: 10px;
    padding-right: 10px;
}
.name{
    width: 18%;
    padding: 10px;
}
.created_at{
    width: 18%;
    padding: 10px;
}
.status{
    width: 18%;
    padding: 10px;
}
.options{
    width: 18%;
    padding: 10px;
}
.format{
    width: 18%;
    padding: 10px;
}

.options a{
    font-size: 12px;
    font-family: Arial;
    color: #444444;
    font-style: normal;
    font-weight: bold;
}
.options a:hover{
    font-family: Arial;
    color: #bbb;
    font-style: normal;
    font-weight: bold;
}

.pagination {
    float: left;
    margin-left: 17px;
    margin-top: 14px;
}
