

.tz_image_hover{
    opacity: 0;
    position: absolute;
    top:0;
    transition: opacity 0.35s ease-in-out;
    -o-transition: opacity 0.35s ease-in-out;
    -ms-transition: opacity 0.35s ease-in-out;
    -moz-transition: opacity 0.35s ease-in-out;
    -webkit-transition: opacity 0.35s ease-in-out;
}
.tz_image_hover:hover{
    opacity: 1;
    margin: 0;
}

#tz_append{
    cursor: auto;
}
#tz_append a{
    color:#000;
    cursor:auto;
}
#tz_append a:hover{
    color:#000 !important;
}
#infscr-loading {
    position: absolute;
    padding: 0;
    left: 38%;
    bottom:-35px;
}


.container-fluid { max-width: 1500px!important; }
div#tz_mainmenu{
    z-index:1000;
}

dl{
    font-size:15px;
}
html, body, .TzArticleBlogQuoteInfo .date, p, tr td, h3.page-header .badge, .p_tag a, dl { font-family: "Aliquam Rg",OpenSansRegular, Arial, sans-serif; }

.sidebar-nav h3, h1.TzArticleTitle,
h3.title, h3.header, .page-title,


a.btn-readmore, .TzPagination a, .author, h2.text a, .mega-group-title, legend { font-family: OpenSansSemibold, Arial, sans-serif; }

.TzPortfolioDate, .TzQuote h2 { font-family: "Aliquam Rg",OpenSansLightItalic, Arial, sans-serif; }


@media (min-width: 1200px) {
    #tz-main div#tz-component{
        padding: 60px 70px;
    }
    #tz-main #sidebar-right div.sidebar-nav{
        padding-top:150px;
        padding-right:70px;
    }
}
.tz_image_portrait .TzPortfolioMedia,
.tz_feature_item .TzPortfolioMedia{
    height:450px;
}
.element .TZPortfolioMedium,
.TzInner .TzQuote,
.TzInner .TzLink{
    height:210px;
}
#sidebar-left .sidebar-nav{
    background:#3d3d3b;
}
#sidebar-right .sidebar-nav{
    background:#f4f4f4;
}
.bubblingG span{
    background:#707070;
}
@-moz-keyframes bubblingG {
    0% {
        background-color:#707070;
    }
}

@-webkit-keyframes bubblingG {
    0% {
        background-color:#707070;
    }
}

@-ms-keyframes bubblingG {
0% {
background-color:#707070;
}
}

@-o-keyframes bubblingG {
    0% {
        background-color:#707070;
    }
}

@keyframes bubblingG {
    0% {
        background-color:#e6e7e7;
    }

}
#tz_mainmenu #plazart-mainnav ul.level0 > li.active > a:before{
    border-right: 10px solid #f4f4f4;
}

#tztwd-tweets a,
.box li.sb-media-skin .author_social a i{
    color:#3498db !important;
}


#tz_mainmenu{
    background:#e6e7e7 !important;
}
#tz-main #tz-content{
    background:#f4f4f4;
}

[class^="tz-border-"], [class*=" tz-border-"]{
    border-color:#474747 !important;
}



.mobile-header span.mobile-open{
    background:url("http://demo.templaza.com/j/profiler/images/vcard.png") no-repeat center;
}
.mobile-header span.mobile-close{
    background:url("http://demo.templaza.com/j/profiler/images/vcard1-.png") no-repeat center;
}


#tz-purchase{
    top:30%;
    background-color:#219b88;
}
#tz-purchase:hover{
    background-color:#219b88;
}

.tz_social a{
    display:inline-block;
    height:35px;   
    font-size:20px;
    line-height:35px;
}


div#fullslide-des{
    width: 100%;
}
.TzInner:hover{
    cursor: pointer;
}
.tz_portfolio_image img{
    transition: transform 0.3s ease-in-out 0s;
    -moz-transition: transform 0.3s ease-in-out 0s;
    -webkit-transition: transform 0.3s ease-in-out 0s;
    -o-transition: transform 0.3s ease-in-out 0s;
    -ms-transition: transform 0.3s ease-in-out 0s;
}
.TzInner:hover .tz_portfolio_image img{
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);

}
.portfolio-hover{
    display: inline-block;
    width: 100%;
    height: 100%;
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
}
.TzArticle-info{

    z-index: 99999;
}
.TzArticle-info a{
    z-index: 999999;
}
.Center-Block{
    position: relative;
    z-index: 999;
}
.TzArticle-info{
    position: relative;
    z-index: 999;
}
