#error-msg {
  font-size:10px;
  color: red;
  margin-top: 8px;
  margin-left: 8px;
  position: absolute;
}
#valid-msg {
  font-size:10px;
  color: #00c900;
  margin-top: 8px;
  margin-left: 8px;
  position: absolute;
}
input.error {
  border: 1px solid #FF7C7C;
}