
<div class="CSSTableGenerator" >
<% unless exam_groups.nil? or exam_groups.empty?  %>
<table class="table-design">
    <tr>
        <td>
          Date
        </td> 
        <td>
          Term Test
        </td>
    </tr>
<% exam_groups.each_with_index do |exam_group,k| %>
   
    <tr>
        <td>
           <% if exam_group.only_comment_base!=1 %>
              <%= I18n.l(exam_group.exam_date.to_time,:format=>"%d %b %Y") unless exam_group.exam_date.nil? %>
           <% else %>
              N/A
           <% end %> 
        </td> 
        <td>
          <div class="left-dev"><span><%= exam_group.name %></span></div>
          <div class="right-dev">
          <% if @student.batch.id == @batch.id %>    
            <%= link_to "View" ,{:controller => 'exam', :action => 'generated_report',:exam_group=>exam_group.id, :student=>@student.id} %>
          <% else %>    
              <%= link_to "View" ,{:controller => 'exam', :action => 'generated_report',:exam_group=>exam_group.id, :student=>@student.id, :batch_id=> @batch.id} %>
          <% end %>
          </div>
        </td>
    </tr>


<% end %>
</table>

<% end %>
</div>  
 
