<html lang="en">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <body>

        <div class="alert alert-info" role="alert"><%= @student.full_name %>, Class : <%= @student.batch.course_name %></div>
        <% unless flash[:notice].nil? %> 
          <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
        <% end %>

        <% unless @dates.blank? %>
          <div class="list-group list-special">
              <%- @dates.each do |d| -%>

                <%finance_fee= @student.finance_fee_by_date(d)%>
                <% paid = @student.check_fee_pay(d)  %>
                <% unless paid %>

                  <%= link_to "#{d.name} | Due Date : #{d.due_date} | #{currency}: #{precision_label(finance_fee.balance.to_f+d.fine_to_pay(@student).to_f)}", {:action=>:fee_details, :id=>@student.id, :id2=>d.id,:mobile_view=>1}, :class=>"list-group-item list-group-item-action list-group-item-secendery" %>

                <% end %>  

              <% end %>
          </div>
        <% end %> 
    </body>

</html>
<style>
    .alert-info
    {
        border-top: 0px;
        border-right: 0px;
        border-left: 0px;
        border-radius: 0px !important;
        margin-bottom: 10px;
    }
    .list-special .list-group-item:first-child {
        border-top-right-radius: 0px !important;
        border-top-left-radius: 0px !important;
    }

    .list-special .list-group-item:last-child {
        border-bottom-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
    }
</style>    