<?xml version="1.0"?>

<!--
/*
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   SSLCOMMERZ Bangladesh Payment Gateway
 * @package    SSLCOMMERZ (https://sslcommerz.com.bd/)
 * @copyright  Copyright (c) 2012 Huffas Abdullah
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->

<config>
    <modules>
        <Sslcommerz>
            <version>1.0.0</version>
        </Sslcommerz>
    </modules>
    <global>
    	<models>
    		<ssl>
	    		<class>Sslcommerz_Model</class>
	    	</ssl>
    	</models>
    	<helpers>
    		<ssl>
    			<class>Sslcommerz_Helper</class>
    		</ssl>
    	</helpers>
    	<blocks>
            <ssl>
            	<class>Sslcommerz_Block</class>
            </ssl>
        </blocks>
        <resources>
            <ssl_setup>
                <setup>
                    <module>Sslcommerz</module>
                </setup>
                <connection>
                    <use>directory_setup</use>
                </connection>
            </ssl_setup>
            <ssl_write>
                <connection>
                    <use>local_write</use>
                </connection>
            </ssl_write>
            <ssl_read>
                <connection>
                    <use>local_read</use>
                </connection>
            </ssl_read>
        </resources>
      <events>
     <!-- **** This is the event that it will execute on =>  sales_order_creditmemo_refund*** -->
        <sales_order_creditmemo_refund>
          <observers>
            <issue_creditmemo_refund>
              <type>singleton</type>
              <class>Sslcommerz_Model_Observer</class>
              <method>issue_creditmemo_refund</method>
            </issue_creditmemo_refund>
          </observers>
        </sales_order_creditmemo_refund>

     <!-- **** This is the event that it will execute on =>  sales_order_invoice_pay*** -->
        <sales_order_invoice_pay>
          <observers>
            <mark_order_as_shipped>
              <type>singleton</type>
              <class>Sslcommerz_Model_Observer</class>
              <method>mark_order_as_shipped</method>
            </mark_order_as_shipped>
          </observers>
        </sales_order_invoice_pay>
      </events>
    </global>
    <frontend>
        <routers>
            <ssl>
                <use>standard</use>
                <args>
                    <module>Sslcommerz</module>
                    <frontName>ssl</frontName>
                </args>
            </ssl>
        </routers>
        <secure_url>
            <ssl_redirect>/ssl/redirect/</ssl_redirect>
        </secure_url>
    </frontend>
	<default>
        <payment>
            <ssl>
                <active>1</active>
                <submit_url>1</submit_url>
                <model>ssl/checkout</model>
                <title>SSLCOMMERZ - Pay with your Local Credit/Debit Card</title>
                <sid>easy@sztechssl</sid>
                <dollarrate>82</dollarrate>
		<submit_url>1</submit_url>
		<demo>0</demo>
                <sort_order>1</sort_order>
            </ssl>
        </payment>
    </default>
</config>
